.external-link {
	.block-editor-block-list__layout & &__text {
		margin-top: -6px;
		line-height: 175%;
		font-size: 14px;
	}

	&:only-child {
		// Make sure the inserter is visible in the editor
		margin-bottom: rem(40);
	}

}
