@import "~sass-lib/editor/editor-includes";

.clock-stat {
  margin: 0;
  max-width: none;
  padding-bottom: rem(4) !important;

  .wp-block-columns {
    margin: 0;
  }

  &__left-column {
    max-width: fit-content;
  }

  &__divider {
    font-weight: bold;
    padding: 0 rem(5);
  }

  &__right-column {
    margin: 0 !important;
  }

  &__stat {
    border: rem(2) solid darkgrey;
    display: flex;
    font-weight: bold;
    width: fit-content;

    span {
      border-right: rem(.5) solid lightgrey;
      padding: 0 rem(2);
      min-width: rem(16);
    }
  }
}
