$header-bp: 1050px;
$header-bp-mw: 1049px;

@mixin blueTextShadow() {
	text-shadow: 0 2px 2px $color-blue;
}

@mixin pinkTextShadow() {
	text-shadow: 0 2px 2px $color-pink;
}


.header-default {
	margin-bottom: 0;
	position: relative;

	@media (max-width: $medium-bp) {
		padding-bottom: 10px;
	}

	a {
		transition: 0.3s all;
	}

	&.h1-highlighted {
		h1 {
			color: $color-blue;
			background: #fff;
		}
	}

	// Header content positioning classes
	.bg-pattern-container {
		position: absolute;
		bottom: 7%;
		top: 0;
		right: 0;
		left: 0;

		@media (min-width: $header-bp) {
			bottom: 0;
		}
	}

	.bg-img-container.bg-pattern {
		@include absolute-full-cover();
		width: 100%;
		z-index: 0;

		.bg-img {
			mix-blend-mode: multiply;
		}
	}

	// Default page, blog page
	&.minimal {

		.bg-pattern-container {
			position: absolute;
			bottom: 7%;
			top: 0;
			right: 0;
			left: 0;

			@media (min-width: $header-bp) {
				bottom: 0;
			}
		}

		&--short {
			min-height: auto;

			// TODO: Take header height and header-inner height to auto.
			.header-inner {
				min-height: auto;
			}

			.tax-role & {
				margin-bottom: rem(40);
			}
		}
	}


	// With main image
	&.featured-photo {

		// Main image on the right, content on the left
		&--content-left {

			.bg-pattern-container {
				position: absolute;
				bottom: 7%;
				top: 0;
				right: 0;
				left: 0;

				@media (min-width: $header-bp) {
					bottom: 0;
				}
			}

			.bg-img-container.bg-pattern {
				@include absolute-full-cover();
				z-index: 0;

				.bg-img {
					mix-blend-mode: multiply;
				}
			}

			.bg-img-container {
				width: 75%;
				right: 0;

				@media (max-width: $header-bp-mw) {
					width: 100%;
				}

				.bg-img {
					background-position: center center;
					background-size: cover;
				}
			}

			.header-content {
				position: relative;
				z-index: 9;

				.page-landing {
					margin-bottom: rem(80);
				}

				.ungrid {
					margin-bottom: rem(80);
				}

				.ungrid .page-landing {
					margin-bottom: 0;
				}
			}

			.page-landing .page-intro-text p {
				@include font-size(22, 18);
			}
		}


		&--photo-centered {
			//margin-bottom: rem(75);
			@media (min-width: $large-bp) {
				//margin-bottom: rem(400);
			}

			@media (min-width: $medium-bp) {
				//margin-bottom: rem(100);
			}
		}

	}

	.header-inner {
		display: flex;
		flex-direction: column;
		position: relative;

		@media (min-width: $header-bp) and (max-height: 930px) {
			//min-height: calc(100vh - 80px);
		}

		@media (min-height: 931px) {
			//min-height: rem(850);
		}

		@media (max-width: $header-bp-mw) {
			//min-height: initial;
		}

		&.nav-open {
			background: $color-blue;

			.header-main {
				position: relative;

				&:after {
					@include absolute-full-cover();
					background: $color-blue;
					z-index: 9;
				}
			}
		}
	}

	.header-main {
		display: flex;
		flex-grow: 1;
		position: relative;

		@media (min-width: $header-bp) {
			align-items: flex-end;
			justify-content: space-between;
		}

		@media (max-width: $header-bp-mw) {
			flex-direction: column;
		}
	}

	.header-content {
		position: relative;
		z-index: 2;
		margin-top: rem(30);
		width: 100%;
	}

	&.featured-photo--content-left .header-content h2.eyebrow.h4:first-child {
		border-bottom: 0 none;
		font-size: 1.5rem;
		font-weight: 700;
	}

	&.featured-photo--content-left .header-content h2.eyebrow.h4:first-child {
		border-bottom: 0 none;
		font-size: 1.5rem;
		font-weight: 700;
	}

	.eyebrow {
		margin-bottom: 1rem;

		a.back-arrow-link {
			@include button-link-arrow(true);
		}

		&.h1 {
			margin-bottom: 5rem;
		}

		&.h2 {
			@include font-size(38, 32);
			border-bottom: 3px solid $wmui-color-base0;
			font-weight: 500;
			margin-bottom: rem(40);
		}

		a {
			color: $color-blue;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.social-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		z-index: 2;

		@media (max-width: $large-bp) {
			flex-direction: row;
			align-items: left;

			ul li {
				display: inline-block;
				margin-right: 0;
			}
		}

		.h5 {
			color: #fff;
			margin-right: 1rem;
		}

		a {
			color: $color-turquoise;

			i {
				transition: 0.3s all;
			}

			&:hover {
				color: #17A8E0;

				i {
					transform: scale(1.17);
					color: #17A8E0;
				}
			}
		}
	}

	.ungrid {
		background: #fffd33;
		padding: 2.5rem 0;
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		margin-top: -2rem;
		max-height: 24rem;

		.page-template-page-data &,
		.page-template-page-report & {
			@media ( max-width: #{$core-gutenberg-break-small} ) {
				max-height: none;
			}
		}

		&.ungrid-extra-height {
			max-height: 28rem;
		}

		.fifty-fifty {
			min-height: 17rem;
		}

		.h2.eyebrow {
			border: none;
			color: $color-blue;
			font-family: $font-family-sans;
			margin-bottom: 1rem;
			text-transform: uppercase;
			@include font-size( 24, 22);
		}

		.btn-pink {
			margin-top: 1rem;

            img.secure {
                height: 15px;
                margin-right: 5px;
                margin-bottom: -1px;
            }
		}

		h1 {
			font-weight: bold;
			@include font-size( 40, 40 );
			padding-right: 3rem;
		}

		.bg-img {
			height: 100%;
			margin-top: 0.8rem;
			background-size: cover;
			background-repeat: no-repeat;
			background-color: #ffb0dd;
			background-blend-mode: multiply;
		}

		.content {
			position: relative;
			background: #fff;
			padding: 1.5rem 2rem;
			width: 50%;
			margin-left: 40%;
			margin-top: -5rem;
			p {
				@include font-size(20, 20);
			}

			@media (max-width: $medium-bp) {
				margin-left: 0;
				width: 100%;
			}
		}
	}

	.h4.eyebrow + .ungrid {
		margin-top: 0 !important;
	}
}

.header-single {
	margin-top: 150px;
	width: 100%;

	h1 {
		@include font-size(38, 32);
		font-weight: bold;
	}

	.post-meta {
		margin-top: 0.5rem;
	}
}

.header-role {
	h1 {
		margin-bottom: rem(40);
	}

	.post-meta {
		@include has-font-size( large );
		font-family: $font-family-serif;
		margin: 0;
	}

	a {
		color: $color-blue;
	}

	.side-list {
		margin-bottom: 10px;
	}
}

.blackout_wrapper:hover>.blackout {
    background: transparent;
}

.blackout {
    padding: 2px;
    color: #000000;
    background: #000000;
}

.blackout:hover {
    background: transparent;
}

// TODO: Fix for use beyond transparency report and campaign pages and data page template with a parent
.page-template-page-data.page-child,
.page-template-page-data,
.page-template-page-freeform,
.page-template-page-report-landing,
.page-id-61699,
.page-id-62419 {
    .header-content {
        margin-top:25px;

        h1 {
            width:91%;
        }

        h2.h4.eyebrow {
            margin-bottom: 3rem;
            border-bottom: 0px;
        }
    }
}

.page-template-page-data #content {
	margin-top: 0 !important;
}

.blog {
  .header-main .header-content {
    @media (max-width: $medium-bp) {
      margin-top: 0;
    }
    @media (max-width: $header-bp) {
      margin-top: 0px;
    }
  }
  .header-default .eyebrow.h1 {
    @media (min-width: $header-bp) {
      margin-bottom: 5rem;
    }
    @media (max-width: $medium-bp - 1 ) {
      margin-bottom: 1rem;
    }
  }
}

// Hide page title visually in the Wiki Unseen page.
.page-wiki-unseen {
	.header-content h1 {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute !important;
		width: 1px;
		word-wrap: normal !important;
	}
}
