.accordion-wrapper {
	overflow: hidden;
}

.accordion-item {
	border-bottom: 1px solid;
	overflow: hidden;
	padding: 14px 20px;

	&__title {
		align-items: center;
		background: none;
		border: 0;
		cursor: pointer;
		display: flex;
		font-size: 26px;
		position: relative;
		text-align: left;
		width: 100%;

		&-text {
			font-weight: 400;
			margin: 0 1.5em 0 0; /*rtl: margin: 0 0 0 1.5em;*/
		}

		&::after {
			content: "\d7";
			display: flex;
			font-size: 20px;
			left: unset; /*rtl: left: 0;*/
			position: absolute;
			right: 0; /*rtl: right: unset;*/
			transform: rotate(45deg);
			width: 20px;

			.accordion-item[aria-expanded] & {
				transform: rotate(0deg);
			}
		}
	}

	&__content {
		height: 0;
		overflow: hidden;

		p:last-child {
			margin-bottom: 0;
		}
	}

	&[aria-expanded] {
		.accordion-item__content { // stylelint-disable selector-class-pattern
			height: auto;
			padding-top: 14px;
		}
	}
}
