.banner {
	display: flex;
	flex-direction: column-reverse;
	min-width: 100%;

	&__image,
	&__content {
		width: 100%;
	}

	&__content {
		text-align: left;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		padding: ( 20 / 16 ) * 1rem; // 16px is the base font size
	}

	&__heading {
		min-width: 100%;
		margin-bottom: ( 17 / 16 ) * 1rem;
	}

	&__image {
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
	}

	&__imageWrapper {
		position: relative;
		padding-bottom: 56.6%;
	}

	&__cta {
		background-color: $wmui-color-accent50;
		color: #fff;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 6px 12px;
		border-radius: 2px;
		font-weight: 700;
		font-size: 14px; // Prob shouldn't hardcode this!
		line-height: 20 / 14;
	}

	@media ( min-width: #{$width-breakpoint-tablet} ) {
		flex-direction: row;
		justify-content: space-between;
		min-height: 200px;

		&__content {
			width: 66.666%;
			padding-top: ( 23 / 16 ) * 1rem;
			padding-bottom: ( 26 / 16 ) * 1rem;
			padding-left: ( 30 / 16 ) * 1rem;
			padding-right: ( 30 / 16 ) * 1rem;

			p {
				margin-bottom: ( 26 / 16 ) * 1rem;
			}
		}

		&__cta {
			margin-top: auto;
		}

		&__imageWrapper {
			width: 33.333%;
			padding-bottom: 0;
			overflow: hidden;
		}
	}

	/** Color Styles */

	&.is-style-light {
		background-color: $wmui-color-base90;
		color: #000;
	}

	&.is-style-gray {
		background-color: $wmui-color-base70;
		color: #000;
	}

	&.is-style-dark {
		background-color: $wmui-color-base0;
		color: #fff;
	}

	&.is-style-blue-fade {
		background-color: $wmui-color-accent90;
		color: #000;
	}

	&.is-style-blue-vibrant {
		background-color: $wmui-color-accent50;
		color: #fff;

		.banner__cta {
			background-color: $wmui-color-base90;
			color: $wmui-color-accent50;
		}
	}

	&.is-style-red-fade {
		background-color: $wmui-color-red90;
		color: #000;
	}

	&.is-style-red-vibrant {
		background-color: $wmui-color-red50;
		color: #fff;

		.banner__cta {
			background-color: $wmui-color-base90;
			color: $wmui-color-accent50;
		}
	}

	&.is-style-yellow-fade {
		background-color: $wmui-color-yellow90;
		color: #000;
	}

	&.is-style-yellow-vibrant {
		background-color: $wmui-color-yellow50;
		color: #000;
	}
}

