.blog-list {
	margin: 0 auto;
	max-width: 100%;
	width: rem(980);
}

.blog-post {
	display: flex;
	flex-direction: column;
	padding: rem(20) 0;

	&__image {

		@include hover-box-shadow;
	}

	&__content {
		padding: rem(16) 0 0 0;
	}

	&__title {

		@include h-margins;

		// Additional specificity necessary to override base h3 styles
		.page.has-blocks .wysiwyg & {

			@include h4;
			margin-bottom: rem(16);
		}

		a {

			@include style-guide-link;

			// The link around the heading should display in same color as text.
			color: var(--text-color);

			// Use a lighter underline weight since heding is large + bold.
			&:hover {
				text-decoration-thickness: 0.5px;
				text-underline-offset: 2px;
			}
		}
	}

	&__categories {
		margin-bottom: rem(6);
	}

	&__category-link {

		@include has-font-size( "small" );
		background-color: $wmui-color-blue90;
		border-radius: rem(4);
		color: $color-primary;
		display: inline-block;
		font-weight: 700;
		margin: 0 10px 10px 0;
		padding: 0 $padding-horizontal-base;

		&:hover {
			background-color: $wmui-color-blue50;
			color: $wmui-color-base100;
			// The alternative is to *significantly* increase the complexity,
			// making this much less readable, hence the !important.
			// When old styles are removed, we may be able to revisit this.
			text-decoration: none !important;
		}
	}

	&__excerpt p {

		@include has-font-size( "default" );
		color: $wmui-color-base0;
		color: var(--text-color);
		font-family: $font-family-serif;
		margin: 0 0 rem(10);
	}

	&__meta {

		@include has-font-size( "small" );
		color: $wmui-color-base0;
		color: var(--text-color);
		margin-bottom: rem(20);
	}

	&__published,
	&__authors {
		display: block;

		a {

			@include style-guide-link;
		}
	}

	&__read-more {

		@include style-guide-arrow-link;
	}

	@media not screen and ( min-width: #{$width-breakpoint-tablet} ) {
		&:first-of-type {
			padding-top: 0;
		}
	}

	@media ( min-width: #{$width-breakpoint-tablet} ) {
		flex-direction: row-reverse;
		align-items: stretch;
		padding: rem(40) 0;

		&__title {
			// Additional specificity necessary to override base h3 styles
			.page.has-blocks .wysiwyg & {
				font-size: rem(20);
			}
		}

		&__image-link,
		&__content {
			flex-basis: 50%;
		}

		&__content {
			margin-right: rem(20);
			padding: 0;
		}

		&--featured {
			flex-direction: row;

			// stylelint-disable selector-class-pattern
			.blog-post__image-link {
				margin-right: -322px;
				flex-basis: 77.5%;
			}

			.blog-post__content {
				background: $wmui-color-base100;
				margin: rem(64) 0;
				padding: rem(20);
			}
		}
	}
}

