.wp-block-shiro-card {
	$image-height: 192px;
	position: relative;
	margin-bottom: 50px;
	flex: 0 1 calc( 50% - 1rem );
	margin-left: unset;

	&__image {
		width: 314px;
		height: 192px;
	}

	&__body {
		background: $color-white;
		margin-left: 18px;
		margin-top: -41px;
		font-family: $font-family-serif;
		padding: 1em 1.25em;

		// These make sure the paragraph is rendered over the image & editor media placeholder.
		display: inline-block;
		position: relative;
		width: 100%;

		// Override more general styles.
		@include article-main-wrap {
			margin-bottom: 0;
		}
	}

	&__read-more {
		font-size: 1.125rem;
		margin-left: 18px;
		padding: 0 1.25em;
		margin-bottom: 1rem;
	}
}
