.new-card {
	border: 1px solid $wmui-color-base80;
	border-radius: 4px;
	position: relative;
	transition: 0.3s box-shadow;
	display: flex;
	flex-direction: column;

	&:only-child {
		height: 100%;
	}

	&:hover {
		cursor: pointer;
		box-shadow: 0 0 20px 5px rgba($color-base--active, 0.15);
	}

	&__image {
		border-radius: 4px;
	}

	&__contents {
		// 28 extra to make room for the absolutely positioned call to action
		padding: rem(20);
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	&__body {
		flex: 1;
	}

	&__cta {
		@include font-size(18, 18);

		color: $color-blue;
		font-weight: bold;

		&::after {
			content: ' →' #{"/*rtl:'← '*/;"};
		}
	}
}

.page.has-blocks,
.single.has-blocks {
	@include wysiwyg {
		.new-card {
			&__heading {
				margin-bottom: rem(4);
				margin-left: 0;
			}
		}
	}
}
