@import "../../../../node_modules/@splidejs/splide/src/css/core";

.shiro-carousel {
	// stylelint-disable selector-class-pattern
	margin-bottom: rem(48);

	.splide__arrow {
		@include button-transparent;
		border: none;
		box-sizing: content-box;
		height: 40px;
		position: absolute;
		top: 50%;
		z-index: 1;

		&[disabled] {
			background: transparent;
			opacity: 0.5;
		}

		&--prev {
			left: 0;
			transform: translateY(-50%) rotate(180deg);
		}

		&--next {
			right: 0;
			transform: translateY(-50%);
		}

		svg {
			filter: drop-shadow(0 0 4px $color-white);
		}

		&:hover {
			box-shadow: none;

			svg {
				filter: drop-shadow(1px 1px 6px $color-white);
			}
		}
	}

	.splide__pagination {
		background: rgba($color-black, 0.5);
		bottom: 6px;
		left: 50%;
		padding: 6px 12px;
		position: absolute;
		transform: translateX(-50%);
		z-index: 1;

		button {
			background-color: $color-white;
			border: none;
			border-radius: 6px;
			box-shadow: $box-shadow-dialog;
			cursor: pointer;
			height: 12px;
			margin: 6px;
			opacity: 0.5;
			width: 12px;

			&:hover,
			&:focus {
				border: 1px solid $color-white;
			}

			&.is-active {
				opacity: 1;
			}
		}
	}

	// Override bottom margin from blocks used as slides
	.splide__list > * {
		margin-bottom: 0;
	}
}
