.contact {
	border: 1px solid $border-color-framed;
	padding: rem(25);
	border-radius: $border-radius-big;

	.icon {
		width: 20px;
		margin-left: 0;
	}

	&__description {
		@include has-font-size("default");
	}

	&__call-to-action {
		@include style-guide-arrow-link;
	}

	.wp-block-buttons {
		display: grid;
		grid-template-columns: minmax(auto, rem(167)) auto;
	}

	.wp-block-button{
		margin-right: 0;
	}

	@include has-blocks-wrap {
		&__title {
			margin-bottom: rem(8);
		}

		&__social-title {
			@include has-font-size("default");
			margin: rem(22) 0 0;
		}
	}
}
