ul,
ol {
	&.block-editor-block-list__block.wp-block {
		margin-left: auto;
		margin-right: auto;

		.is-root-container > & {
			padding-left: 4rem;
		}
	}
}

@include wysiwyg {
	ul,
	ol {
		margin: 0.8rem 0 rem(40);
		padding: 0 0 0 1.8rem;

		li {

			@include has-font-size("default");
			line-height: 175%;

			ul,
			ol {
				margin: 0;
			}
		}
	}

	ul {
		li {
			list-style-type: disc;
		}
	}

	ol {
		li {
			list-style-type: decimal;

			li {
				list-style-type: lower-alpha;

				li {
					list-style-type: lower-roman;
				}
			}
		}
	}
}
