.wp-block-group {
	&.has-background {
		padding: 20px;
	}

	&.alignfull {
		@include alignfull-padded;
	}

	&.has-radius-big {
		border-radius: $border-radius-big;
	}

	&.has-radius-small {
		border-radius: $border-radius-base;
	}
}
