ul,
ol {
	margin: 0.8rem 0 rem(40);
	padding: 0 0 0 1.8rem;

	ul,
	ol {
		margin: rem(16) 0;
	}

	ul {
		list-style-type: disc;
	}

	li {
		@include p;
	}

	&.block-editor-block-list__block.wp-block {
		margin-left: auto;
		margin-right: auto;

		.is-root-container > & {
			padding-left: 4rem;
		}
	}
}

ol {
	li {
		list-style-type: decimal;

		li {
			list-style-type: lower-alpha;

			li {
				list-style-type: lower-roman;
			}
		}
	}
}
