.wp-block-quote {
	border-left: 4px solid $wmui-color-base80;
	margin: 3rem 0;
	font-style: italic;
	padding-left: rem(24);

	cite {
		display: block;
		margin-top: rem(20);

		@include wysiwyg-wrap {
			font-family: $font-family-sans;
		}
	}

	p:first-child {
		padding-left: 0;
	}

	&.is-style-pullquote {
		border-left: none;
		padding-left: 0;

		@include wysiwyg-wrap {
			p {
				@include has-font-size("medium");
			}
		}
	}
}
