.wp-block-quote {
	border-left: 4px solid $wmui-color-base80;
	margin: 3rem 0;
	font-style: italic;
	padding-left: rem(24);

	cite,
	&__citation {
		&:before {
			content: "\2014";
			margin: 0 0.5em;
		}
	}

	p:first-child {
		padding-left: 0;
	}
}
