.double-heading {

	&.block-editor-block-list__block {
		@include global-block-styles;
	}

	&__primary {
		color: $wmui-color-base0;
		line-height: 1.5;
	}

	&__secondary {
		@include has-blocks-wrap {
			color: $wmui-color-base30;
			margin-bottom: rem(4);
		}
	}
}
