.external-link {

	@include global-block-styles;

	&:only-child {
		margin-bottom: 0;
	}

	&__heading {

		@include h5;
		display: flex;
		align-items: center;
	}

	// Additional specificity is necessary to override styles for links in <p>
	// elements.
	.wysiwyg & &__link {
		display: flex;
		align-items: center;
		color: $wmui-color-base0;

		&:hover {
			color: $wmui-color-blue50;
		}
	}

	&__icon {
		margin-left: rem( 11 );
		height: 1em;
		width: 1em;
		fill: currentColor;
	}

	// This extra specificity is necessary to override general article styles
	// for <p> elements.
	.article-main & &__text {
		margin-top: -#{rem( 6 )};
		line-height: 175%;
		font-size: rem( 12 );

		@media ( min-width: #{$width-breakpoint-tablet} ) {
			font-size: rem( 14 );
		}
	}
}
