// Removes the default block margin on custom blocks
.no-default-margin {
	margin-bottom: 0;
}

// Make spacer blocks accurate after the global bottom margin
.wp-block-spacer {
	margin-bottom: 0;
	margin-top: rem(-40);

	.no-default-margin + & {
		margin-top: 0;
	}
}

