// This is imported *before* the block styles, allowing them to override it

// Make spacer blocks accurate after the global bottom margin
.wp-block-spacer {
	margin-bottom: 0;
	margin-top: rem(-40);

	.no-default-margin + & {
		margin-top: 0;
	}
}

// Negative margins for wide and full align blocks.
.alignwide {
	@media ( min-width: $medium-landscape ) {
		.single-post & {
			margin-left: ( ( $content-column-post - $content-column ) / 2 );
			margin-right: ( ( $content-column-post - $content-column ) / 2 );
		}
	}
}

.alignfull {
	@include alignfull();

	.single-story & {

		/**
		 * alignfull does not behave in any kind of rational way on stories,
		 * so we want to effectively disable it.
		 * Eventually stories may receive more attention, at which point we
		 * will probably want to return to this styling.
		 */
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.single-post & {
		@media ( min-width: #{$width-breakpoint-tablet} ) {
			margin-left: calc(#{$content-column-post / 2} - 50vw + #{$half-scrollbar-width});
			margin-right: calc(#{$content-column-post / 2} - 50vw + #{$half-scrollbar-width});
		}
	}
}
