// This is imported *before* the block styles, allowing them to override it

// Make spacer blocks accurate after the global bottom margin
.wp-block-spacer {
	margin-bottom: 0;
	margin-top: rem(-40);

	.no-default-margin + & {
		margin-top: 0;
	}
}

