@keyframes hero-home-animation {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(calc((4237px * -1) + 100vw));
	}
	100% {
		transform: translateX(0);
	}
}

.hero-home {
	@include global-block-styles;

	&:focus-within h2,
	&:hover &__heading--has-link {
		text-decoration: underline;
	}

	&:focus-within h2 {
		@include focus-ring($hex: false, $inset: false, $width: 4px);
	}

	&__header {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		padding: 0;
		height: 454px;
		overflow: hidden;
	}

	&__image-wrapper {
		position: absolute;
		height: 454px;
		width: 4237px;
		z-index: -1;

		@media (prefers-reduced-motion: no-preference) {
			animation: hero-home-animation 300s linear infinite;
		}

		&--disable-animation {
			animation-play-state: paused;
		}
	}

	&__heading-wrapper {
		max-width: $content-column-padded-rem;
		margin: 0 auto;
		@include padding(0, 20, 0, strip-px($block-padding));
	}

	&__heading-color {
		max-width: 454px;
		margin-top: 4rem;
	}

	&__heading {
		padding: 1rem;
		position: relative;
		transition: opacity 750ms ease;

		@include has-blocks-wrap {
			@include font-size(24, 24);
			font-weight: 700;
			line-height: 1.5;
		}

		&--transparent {
			opacity: 0;
		}

		&--hidden {
			display: none;
		}

		&--has-link {
			&::after {
				@include style-guide-arrow-content;
			}
			&.rtl-switch {
				&::after {
					@include style-guide-arrow-content-back;
				}
			}
		}
	}

	&__link {
		bottom: 0;
		content: "";
		display: block;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;

		&:focus {
			@include focus-reset;
		}
	}
}
