.inline-languages {
	border-top: 1px solid $wmui-color-base70;
	text-align: center;

	&__list {
		padding-top: rem( 19 );
		padding-bottom: rem( 21 );
	}

	&__language {
		margin: 0;
		display: inline-block;
		font-weight: 600;

		&--current {
			color: $wmui-color-base0;
		}

		&::after {
			content: "·";
			display: inline-block;
			margin: 0 1rem;
		}

		&:last-child {
			&::after {
				display: none;
			}
		}

		a {
			color: $wmui-color-blue50;

			&:focus,
			&:hover {
				color: #3200be;
			}
		}
	}

	/**
	 * This should be under .inline-languages__language, but because of existing
	 * styles we have to force greater specificity.
	 */
	ul {
		li {
			font-size: rem( 14 );
			line-height: 250%;
		}
	}
}
