.wp-block-shiro-input-field {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	// This calc guarantees the same size as a button.
	padding: calc( 0.5rem - 1px ) 0.5rem;

	/* Base100 */
	background: $background-color-base;
	border: 1px solid $border-color-base;
	border-radius: $border-radius-base;
}
