.hero {

	@include global-margin-bottom;

	&__header {

		@include alignfull-padded;
		@include block-style-background-color;
		@include block-style-text-color;

		display: flex;
		padding: rem(28) rem(20);
	}

	&__image-container {
		display: none;
		position: relative;
	}

	@media ( min-width: #{$width-breakpoint-tablet} ) {

		&__header {
			flex-flow: row nowrap;
		}

		&__text-column,
		&__image-container {
			width: 50%;
		}

		&__text-column {
			align-items: flex-start;
			display: flex;
			flex-flow: column nowrap;
			margin-right: rem(40);

			&::after {
				border-left: 1px solid var(--accent-color);
				content: "";
				flex-grow: 1;
				margin-bottom: rem(-28);
				min-height: rem(28);
			}
		}

		&__image,
		&__image-container {
			align-self: flex-start;
			display: block;
		}
	}

	&__kicker {

		@include has-font-size("large");
		display: block;
		font-family: $font-family-serif;
		font-weight: 400;
		line-height: 1.5;
		margin-bottom: rem(5);
	}

	&__title {

		@include has-font-size("jumbo");
		font-family: $font-family-sans;
		line-height: 1.25;
		width: 100%;
	}

	&__call-to-action {

		margin-bottom: rem(22);

		@include button-primary;

		.is-style-base0 &,
		.is-style-blue50 &,
		.is-style-red50 & {

			@include button-tertiary;
		}

		.is-style-donate-red90 & {
			@include donate-red90-button;
		}
	}

	&__intro {

		border-left: 1px solid var(--accent-color);

		margin: rem(-32) 0 0 0;
		padding: rem(72) rem(10) rem(40) rem(30);

		@media ( min-width: #{$width-breakpoint-tablet} ) {
			margin-top: 0;
			padding-bottom: rem(60);
			padding-top: rem(60);
		}

		p {

			@include has-font-size("large");
			font-family: $font-family-serif;
			line-height: 1.5;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
