.spotlight {
	display: flex;
	min-width: 100%;
	padding: rem(40) rem(20);

	@include block-style-background-color;
	@include block-style-text-color;

	&__inner {
		width: $content-column;
		max-width: 100%;
		display: flex;
		flex-direction: column-reverse;

		@media ( min-width: #{$width-breakpoint-tablet} ) {
			flex-direction: row-reverse;
		}
	}

	&__image,
	&__content {
		width: 100%;
	}

	&__content {
		text-align: left;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
		margin-top: rem(20);
	}

	&__text {
		flex-grow: 1;
	}

	&__heading {
		min-width: 100%;
		margin-bottom: rem(17);
	}

	&__image {
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
	}

	&__image-wrapper {
		position: relative;
		padding-bottom: 56.6%;
	}

	/** Button styles */
	&__cta {

		@include button-primary;

		/**
		 * Tertiary buttons have a border, so this "dummy" border is added
		 * to make all buttons the same height.
		 */
		border: 1px solid transparent;

		.is-style-blue50 &,
		.is-style-red50 & {

			@include button-tertiary;
		}
	}

	@media ( min-width: #{$width-breakpoint-tablet} ) {
		flex-direction: row;
		justify-content: center;
		min-height: 340px;

		&__content {
			width: 50%;
			margin: 0 rem(30) 0 rem(50);

			p {
				padding-bottom: rem(26);
			}
		}

		&__image-wrapper {
			width: 50%;
			padding-bottom: 0;
			overflow: hidden;
		}
	}
}
