.spotlight {
	@include global-margin-bottom;
	@include block-style-background-color;
	@include block-style-text-color;
	display: flex;
	min-width: 100%;

	&__inner {
		display: flex;
		flex-direction: column-reverse;
		margin: rem(20);
		max-width: 100%;
		position: relative;
		width: $content-column-rem;

		@media ( min-width: #{$width-breakpoint-tablet} ) {
			flex-direction: row-reverse;
			margin: rem(40);
		}
	}

	&__image,
	&__content {
		width: 100%;
	}

	&__content {
		align-items: start;
		display: flex;
		flex-direction: column;
		justify-content: start;
		margin-top: rem(20);
		text-align: left;

		p {
			font-family: $font-family-sans;
			padding-bottom: rem(26);
		}
	}

	&__text {
		@include has-font-size("default");
		flex-grow: 1;
	}

	&__heading {
		margin-bottom: rem(17);
		min-width: 100%;
	}

	&__image {
		@include absolute-full-cover();
		content: initial;
		object-fit: cover;
	}

	&__image-wrapper {
		padding-bottom: 56.6%;
		position: relative;
	}

	/** Button styles */
	&__cta {
		@include button-primary;

		/**
		 * Tertiary buttons have a border, so this "dummy" border is added
		 * to make all buttons the same height.
		 */
		border: 1px solid transparent;

		.is-style-blue50 &,
		.is-style-red50 & {
			@include button-tertiary;
		}

		.is-style-donate-red90 & {
			@include donate-red90-button;
		}

		/**
		 * Use this to make the image a "clickable link" in an accessible way.
		 */
		&::after {
			@include absolute-full-cover();
			padding-bottom: 56.6%;
			z-index: 10;

			@media ( min-width: #{$width-breakpoint-tablet} ) {
				height: 100%;
				padding-bottom: 0;

				/**
				 * 40px is half of the left/right margin on the content column,
				 * which is subtracted from the overall width before it's split in half.
				 */
				width: calc(50% - #{rem(40)});
			}
		}
	}

	@media ( min-width: #{$width-breakpoint-tablet} ) {
		flex-direction: row;
		justify-content: center;
		min-height: 340px;

		&__content {
			margin: 0 rem(30) 0 rem(50);
			width: 50%;

		}

		&__image-wrapper {
			overflow: hidden;
			padding-bottom: 0;
			width: 50%;
		}
	}
}
