.stair {
	position: relative;
	margin-bottom: 50px;
	margin-left: unset;

	@media (min-width: $medium-bp) {
		flex: 0 1 calc( 50% - 20px );
	}

	&__heading {
		line-height: 1.5 !important;
	}

	&__image {
		width: 320px;
	}

	&__body {
		background: $background-color-base;
		margin-left: 18px;
		margin-top: -41px;
		font-family: $font-family-serif;
		padding: 1em 1.25em;

		// These make sure the paragraph is rendered over the image & editor media placeholder.
		display: inline-block;
		position: relative;
		width: 100%;

		@extend .has-default-font-size;

		// Override more general styles.
		@include article-main-wrap {
			margin-bottom: 0;
		}
	}

	&__read-more {
		display: inline-block;
		font-size: 1.125rem;
		margin-left: 18px;
		padding: 0 1.25em;
		margin-bottom: 1rem;
	}
}
