// Table of contents block styles
.toc {

	@include style-guide-list-reset;
	top: rem(100);

	.admin-bar & {
		top: rem(132);
	}

	@media (min-width: $medium-bp) {
		position: sticky;
	}

	&__item {
		list-style: none;
	}

	&__link {
		color: $wmui-color-base0;
		display: block;
		font-size: rem(14);
		padding: rem(12) rem(15);

		&:hover,
		&:focus {
			background-color: $wmui-color-blue90;
		}

		&.-active {
			background-color: $wmui-color-blue50;
			color: $wmui-color-base100;
			font-weight: 700;
		}
	}
}
