* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: 'Helvetica-Neue';
  src: url("../fonts/HelveticaNeue-Light.woff2") format("woff2"), url("../fonts/HelveticaNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Neue';
  src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Neue';
  src: url("../fonts/HelveticaNeue-Thin.woff2") format("woff2"), url("../fonts/HelveticaNeue-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Neue';
  src: url("../fonts/HelveticaNeueRegular.woff2") format("woff2"), url("../fonts/HelveticaNeueRegular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Neue';
  src: url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Neue';
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: normal;
  src: local("Georgia Regular"), url("../fonts/georgia.woff") format("woff");
}

@font-face {
  font-family: 'Georgia';
  font-style: Italic;
  font-weight: normal;
  src: local("Georgia Italic"), url("../fonts/georgiai.woff") format("woff");
}

@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  src: local("Georgia Bold"), url("../fonts/georgiab.woff") format("woff");
}

@font-face {
  font-family: 'Georgia';
  font-style: Italic;
  font-weight: 700;
  src: local("Georgia Bold Italic"), url("../fonts/georgiaz.woff") format("woff");
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #202122;
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Lato", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  overflow-x: hidden;
}

.font-Helvetica-Neue {
  font-family: 'Helvetica-Neue';
}

.font-georgia {
  font-family: "Georgia";
}

.bg-light-yellow {
  background-color: #fffd61;
}

.bg-light-blue {
  background-color: #3366CC;
}

.mw-980 {
  margin: 0 auto;
  max-width: 66.25rem;
  padding: 0 1.25rem;
}

@media only screen and (min-width: 768px) {
  .mw-980 {
    padding: 0 2.5rem;
  }
}

.historical-banner {
  position: relative;
  padding: 70px 0;
}

.Wikimedia-head .Wikimedia-headitems {
  text-align: center;
  color: #ffffff;
}

.Wikimedia-head .Wikimedia-headitems h1 {
  font-size: 56px;
  font-weight: 700;
  font-style: normal;
  line-height: 26.8px;
}

@media (max-width: 991px) {
  .Wikimedia-head .Wikimedia-headitems h1 {
    font-size: 40px;
  }
}

.Wikimedia-head .Wikimedia-headitems p {
  font-size: 16px;
  max-width: 380px;
  margin: 0 auto;
  font-weight: 400;
}

@media (max-width: 575px) {
  .Wikimedia-head .Wikimedia-headitems {
    width: 100%;
  }
}

.Wikimedia-head .Wikimedia-headitems img {
  mix-blend-mode: multiply;
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.historic-birthday {
  max-width: 536px;
  width: 100%;
  padding-left: 15px;
  margin: 0 auto;
  padding-right: 15px;
  margin-top: -30px;
  position: relative;
}

.Wikimedia-itemsmain {
  max-width: 536px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 768px) {
  .Wikimedia-itemsmain {
    margin-top: 70px;
  }
}

.Wikimedia-items {
  border-top: 1px solid #000000;
  padding-top: 20px;
  position: relative;
}

.Wikimedia-items p {
  font-family: "Linux Libertine", "Georgia", "Times", serif;
  font-size: 14px;
  margin: 0;
  line-height: 18.64px;
  color: #000000;
}

.Wikimedia-items a {
  color: #3366CC;
  text-decoration: underline;
}

.Wikimedia-date {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(186, 186, 186, 0.25);
          box-shadow: 0px 4px 20px rgba(186, 186, 186, 0.25);
  border-radius: 4px;
  padding: 25px;
}

.Wikimedia-date h4 {
  font-size: 16px;
}

.Wikimedia-under {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.Wikimedia-under h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.Wikimedia-under a {
  display: inline-block;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
  font-style: italic;
  font-size: 14px;
  margin-right: 15px;
}

.Wikimedia-dateitems form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

@media (max-width: 768px) {
  .Wikimedia-dateitems form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.Wikimedia-dateitems form .Wikimedia-dateselectitems,
.Wikimedia-dateitems form .Wikimedia-monthselectitems {
  position: relative;
}

.Wikimedia-dateitems form .Wikimedia-dateselectitems select,
.Wikimedia-dateitems form .Wikimedia-monthselectitems select {
  background: #f8f9fa;
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 6px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 15px 0;
  padding-left: 1em;
  padding-right: 2em;
  width: 100%;
  font-size: 20px;
  border-radius: 4px;
}

.Wikimedia-dateitems form .Wikimedia-dateselectitems:after,
.Wikimedia-dateitems form .Wikimedia-monthselectitems:after {
  content: "";
  background-image: url(../image/arrow.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 100%;
  width: 0.75em;
  position: absolute;
  font-size: 1em;
}

.Wikimedia-dateitems form .Wikimedia-monthselectitems select {
  padding-left: 60px;
  padding-right: 60px;
}

.Wikimedia-dateitems form .Wikimedia-searchbtn {
  background-color: #3c35fb;
  border-radius: 2px;
  color: #fff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .Wikimedia-dateitems form .Wikimedia-searchbtn {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.when-birthday {
  background-color: #c2c2c2;
  padding: 15px 0;
}

.when-birthday .when-birthday-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .when-birthday .when-birthday-main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.when-birthday .when-birthday-main h4 {
  font-family: "Helvetica-Neue";
  font-size: 20px;
  margin-right: 20px;
}

.when-birthday .when-birthday-main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .when-birthday .when-birthday-main form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.when-birthday .when-birthday-main form .when-birthday-dateselectitems,
.when-birthday .when-birthday-main form .when-birthday-monthselectitems {
  position: relative;
}

.when-birthday .when-birthday-main form .when-birthday-dateselectitems select,
.when-birthday .when-birthday-main form .when-birthday-monthselectitems select {
  background: #f8f9fa;
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 6px;
  font-weight: 700;
  margin-bottom: 0;
  padding: 10px 0;
  padding-left: 1em;
  padding-right: 1.5em;
  width: 100%;
  font-size: 20px;
}

.when-birthday .when-birthday-main form .when-birthday-dateselectitems:after,
.when-birthday .when-birthday-main form .when-birthday-monthselectitems:after {
  content: "";
  background-image: url(../image/arrow.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 100%;
  width: 0.75em;
  position: absolute;
  font-size: 1em;
}

.when-birthday .when-birthday-main form .when-birthday-monthselectitems select {
  padding-left: 40px;
  padding-right: 40px;
}

.when-birthday .when-birthday-main form .when-birthday-searchbtn {
  background-color: #3c35fb;
  border-radius: 2px;
  color: #fff;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 20px;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .when-birthday .when-birthday-main form .when-birthday-searchbtn {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.See-all-historical , .See-all-historical h2{
  padding: 40px 0;
  color: #ffffff;
}

@media (max-width: 767px) {
  .See-all-historical {
    text-align: center;
  }
}

.See-all-historical h2 {
  font-size: 30px;
  max-width: 50%;
  font-family: "Helvetica-Neue";
}

@media (max-width: 767px) {
  .See-all-historical h2 {
    max-width: 100%;
  }
}

.See-all-historical p {
  font-family: "Linux Libertine", "Georgia", "Times", serif;
  font-size: 18px;
}

.all-historical-people {
  margin-top: 90px;
  margin-bottom: 90px;
}

.all-historical-peoplemain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Helvetica-Neue";
  margin-top: 80px;
  margin-bottom: 80px;
}

.all-historical-peoplemain .all-historical-peopleimage {
  padding: 0 15px;
  width: 30%;
}

@media (max-width: 767px) {
  .all-historical-peoplemain .all-historical-peopleimage {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
  }
}

.all-historical-peoplemain .all-historical-peopledeatils {
  padding: 0 15px;
  width: 70%;
}

.all-historical-peoplemain .all-historical-peopledeatils span {
  color: #3c35fb;
  font-size: 18px;
  font-weight: 700;
}

.all-historical-peoplemain .all-historical-peopledeatils h4 {
  font-size: 42px;
  color: #000000;
  margin: 10px 0;
}

.all-historical-peoplemain .all-historical-peopledeatils p {
  font-family: "Linux Libertine", "Georgia", "Times", serif;
  font-size: 20px;
  max-width: 60%;
  line-height: 28px;
}

@media (max-width: 767px) {
  .all-historical-peoplemain .all-historical-peopledeatils p {
    max-width: 100%;
  }
}

.all-historical-peoplemain .all-historical-peopledeatils .all-historical-peopledeatilsimg img {
  width: 100%;
}

@media (max-width: 767px) {
  .all-historical-peoplemain .all-historical-peopledeatils {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */

.border.svelte-pmmmja {
    stroke: #54595D;
    fill: transparent;
}
path.fill{
    fill: #54595D;
}

.birthday-buddies-main {
    padding: 50px;
}

@media (max-width: 768px) {
    .birthday-buddies-main {
        padding: 20px;
    }
}

.birthday-buddies-main ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
}

.birthday-buddies-main ul li {
    width: 25%;
    position: relative;
}

@media (max-width: 767px) {
    .birthday-buddies-main ul li {
        width: 50%;
    }
}

.birthday-buddies-main ul li img {
    width: 100%;
    padding: 0.3rem;
}

.birthday-buddies-main ul li img:hover {
    -webkit-transform: translate(1px, -1px) rotate(-1deg);
    transform: translate(1px, -1px) rotate(-1deg);
}

.birthday-buddies-main ul li .change-options.svelte-qp9ds0 {
    display: block;
    position: absolute;
    width: 100%;
    margin: 0.5rem;
    top: 10px;
    left: 10px;
    opacity: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    visibility: hidden;
}

.birthday-buddies-main ul li .change-options.svelte-qp9ds0 select {
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
}

.birthday-buddies-main ul li:hover .change-options.svelte-qp9ds0 {
    visibility: visible;
    opacity: 1;
}

.birthday-buddies-text {
    text-align: center;
    position: relative;
    z-index: 9;
}

@media (max-width: 768px) {
    .birthday-buddies-text {
        margin-top: 50px;
    }
}

.birthday-buddies-text h2 {
    font-size: 50px;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 4px solid #202122;
    display: inline-block;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
}

@media (max-width: 1200px) {
    .birthday-buddies-text h2 {
        font-size: 40px;
    }
}

@media (max-width: 991px) {
    .birthday-buddies-text h2 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .birthday-buddies-text h2 {
        font-size: 24px;
    }
}

.birthday-buddies-text h3 {
    font-size: 50px;
    font-style: italic;
    margin: 0;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
}

@media (max-width: 991px) {
    .birthday-buddies-text h3 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .birthday-buddies-text h3 {
        font-size: 24px;
    }
}

.dragme {
    position: relative;
    cursor: move;
    display: inline-block;
}

.save-image-btn {
    position: fixed;
    right: 0;
    top: 0;
    margin: 1rem;
    z-index: 5000;
    padding: 0.25rem 0.875rem;
    background-color: #000;
    font-size: 18px;
    border: 1px solid #000;
    color: #fff;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    border: 2px solid transparent;
    -webkit-transition: 0.2s background-color;
    transition: 0.2s background-color;
    cursor: pointer;
}

@media (max-width: 768px) {
    .save-image-btn {
        font-size: 14px;
    }
}

.save-image-btn:hover {
    color: #fff;
    cursor: pointer;
    background-color: #54595d;
}

.back {
    position: fixed;
    margin: 1rem;
    top: 0;
    left: 0;
    z-index: 99;
}

.back button {
    padding: 0.25rem 0.875rem;
    background-color: #000;
    border: 1px solid #000;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    border: 2px solid transparent;
    -webkit-transition: 0.2s background-color;
    transition: 0.2s background-color;
    margin-bottom: 0;
    background-color: #fff;
    border-color: #000;
    color: #000;
    font-size: 18px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .back button {
        font-size: 14px;
    }
}

.back button:hover {
    background-color: #c8ccd1;
}

.info {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 1rem;
    z-index: 1000;
}

.info .logos {
    z-index: 2000;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    margin: 0.5rem 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.info .logos img {
    margin: 0 0.5rem;
    max-width: 60px;
}
/*# sourceMappingURL=style.css.map */
.birthday-buddies-main {
    padding: 50px;
}

@media (max-width: 768px) {
    .birthday-buddies-main {
        padding: 20px;
    }
}

.birthday-buddies-main ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
}

.birthday-buddies-main ul li {
    width: 25%;
    position: relative;
}

@media (max-width: 767px) {
    .birthday-buddies-main ul li {
        width: 50%;
    }
}

.birthday-buddies-main ul li .resize-drag {
    cursor: move;
}

.birthday-buddies-main ul li img {
    width: 100%;
    padding: 0.3rem;
}

.birthday-buddies-main ul li img:hover {
    -webkit-transform: translate(1px, -1px) rotate(-1deg);
    transform: translate(1px, -1px) rotate(-1deg);
}

.birthday-buddies-main ul li .change-options.svelte-qp9ds0 {
    display: block;
    position: absolute;
    width: 100%;
    margin: 0.5rem;
    top: 10px;
    left: 10px;
    opacity: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    visibility: hidden;
}

.birthday-buddies-main ul li .change-options.svelte-qp9ds0 select {
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.birthday-buddies-main ul li .change-options.svelte-qp9ds0 .change-options-under {
    position: relative;
    display: inline-block;
}

.birthday-buddies-main ul li .change-options.svelte-qp9ds0 .change-options-under:after {
    content: "";
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 100%;
    width: 0.75em;
    position: absolute;
    font-size: 1em;
}

.birthday-buddies-main ul li:hover .change-options.svelte-qp9ds0 {
    visibility: visible;
    opacity: 1;
}

.birthday-buddies-text {
    text-align: center;
    position: relative;
    z-index: 9;
}

@media (max-width: 768px) {
    .birthday-buddies-text {
        margin-top: 50px;
    }
}

.birthday-buddies-text h2 {
    font-size: 50px;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 4px solid #202122;
    display: inline-block;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
}

@media (max-width: 1200px) {
    .birthday-buddies-text h2 {
        font-size: 40px;
    }
}

@media (max-width: 991px) {
    .birthday-buddies-text h2 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .birthday-buddies-text h2 {
        font-size: 24px;
    }
}

.birthday-buddies-text h3 {
    font-size: 50px;
    font-style: italic;
    margin: 0;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
}

@media (max-width: 991px) {
    .birthday-buddies-text h3 {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .birthday-buddies-text h3 {
        font-size: 24px;
    }
}

.dragme {
    position: relative;
    cursor: move;
    display: inline-block;
}

.save-image-btn {
    position: fixed;
    right: 0;
    top: 0;
    margin: 1rem;
    z-index: 5000;
    padding: 0.25rem 0.875rem;
    background-color: #000;
    font-size: 18px;
    border: 1px solid #000;
    color: #fff;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    border: 2px solid transparent;
    -webkit-transition: 0.2s background-color;
    transition: 0.2s background-color;
    cursor: pointer;
}

@media (max-width: 768px) {
    .save-image-btn {
        font-size: 14px;
    }
}

.save-image-btn:hover {
    color: #fff;
    cursor: pointer;
    background-color: #54595d;
}

.back {
    position: fixed;
    margin: 1rem;
    top: 0;
    left: 0;
    z-index: 99;
}

.back button {
    padding: 0.25rem 0.875rem;
    background-color: #000;
    border: 1px solid #000;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    border: 2px solid transparent;
    -webkit-transition: 0.2s background-color;
    transition: 0.2s background-color;
    margin-bottom: 0;
    background-color: #fff;
    border-color: #000;
    color: #000;
    font-size: 18px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .back button {
        font-size: 14px;
    }
}

.back button:hover {
    background-color: #c8ccd1;
}

.info {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 1rem;
    z-index: 1000;
}

.info .logos {
    z-index: 2000;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    margin: 0.5rem 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.info .logos img {
    margin: 0 0.5rem;
    max-width: 60px;
}