* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
@font-face {font-family: 'HelveticaNeue';src: url('../fonts/HelveticaNeue-Light.woff2') format('woff2'),url('../fonts/HelveticaNeue-Light.woff') format('woff');font-weight: 300;font-style: normal;}
@font-face {font-family: 'HelveticaNeue';src: url('../fonts/HelveticaNeue-Medium.woff2') format('woff2'),url('../fonts/HelveticaNeue-Medium.woff') format('woff');font-weight: 500;font-style: normal;}
@font-face {font-family: 'HelveticaNeue';src: url('../fonts/HelveticaNeue-Thin.woff2') format('woff2'),url('../fonts/HelveticaNeue-Thin.woff') format('woff');font-weight: 100;font-style: normal;}
@font-face {font-family: 'HelveticaNeue';src: url('../fonts/HelveticaNeueRegular.woff2') format('woff2'),url('../fonts/HelveticaNeueRegular.woff') format('woff');font-weight: 100;font-style: normal;}
@font-face {font-family: 'HelveticaNeue';src: url('../fonts/HelveticaNeue.woff2') format('woff2'),url('../fonts/HelveticaNeue.woff') format('woff');font-weight: normal;font-style: normal;}
@font-face {font-family: 'HelveticaNeue';src: url('../fonts/HelveticaNeue-Bold.woff2') format('woff2'),url('../fonts/HelveticaNeue-Bold.woff') format('woff');font-weight: bold;font-style: normal;}

@font-face {font-family: 'Georgia';font-style: normal;font-weight: normal;src: local('Georgia Regular'), url('../fonts/georgia.woff') format('woff');}
@font-face {font-family: 'Georgia';font-style: Italic;font-weight: normal;src: local('Georgia Italic'), url('../fonts/georgiai.woff') format('woff');}
@font-face {font-family: 'Georgia';font-style: normal;font-weight: 700;src: local('Georgia Bold'), url('../fonts/georgiab.woff') format('woff');}
@font-face {font-family: 'Georgia';font-style: Italic;font-weight: 700;src: local('Georgia Bold Italic'), url('../fonts/georgiaz.woff') format('woff');}
img {
  max-width: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #202122;
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Lato", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  overflow-x: hidden;
}
.font-Helvetica-Neue {
  font-family: 'HelveticaNeue';
}
.font-georgia {
  font-family: "Georgia";
}
.bg-light-yellow {
  background-color: #fffd61;
}
.bg-light-blue{
  background-color: #3366CC;
}
.mw-980 {
  margin: 0 auto;
  max-width: 66.25rem;
  padding: 0 1.25rem;
}
@media only screen and (min-width: 768px) {
  .mw-980 {
    padding: 0 2.5rem;
  }
}
.historical-banner {
  position: relative;
  padding: 70px 0;
}
.Wikimedia-head {

  .Wikimedia-headitems {
    text-align: center;
    color: #ffffff;
    h1 {
      font-size: 56px;
      font-weight: 700;
      font-style: normal;
      line-height: 26.8px;
      @media (max-width: 991px) {
        font-size: 40px;
      }
    }
    p{
      font-size: 16px;
      max-width: 380px;
      margin: 0 auto;
      font-weight: 400;
    }
    @media (max-width: 575px) {
      width: 100%;
    }
    img{
      mix-blend-mode: multiply;
    // opacity: 0.12;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    }
  }
}
.historic-birthday{
  max-width: 536px;
  width: 100%;
  padding-left: 15px;
  margin: 0 auto;
 padding-right: 15px;
  margin-top: -30px;
  position: relative;
}
.Wikimedia-itemsmain{
    max-width: 536px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width:768px){
      margin-top: 70px;
    }
}
.Wikimedia-items {
  // padding: 40px;
  // padding-bottom: 100px;
  border-top: 1px solid #000000;
  padding-top: 20px;
  position: relative;
  p {
    font-family: "Linux Libertine", "Georgia", "Times", serif;
    font-size: 14px;
    margin: 0;
    line-height: 18.64px;
    color: #000000;
    }
    a{
      color: #3366CC;
      text-decoration: underline;
    }
  }
.Wikimedia-date {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(186, 186, 186, 0.25);
  border-radius: 4px;
  padding: 25px;
  h4 {
    font-size: 16px;
  }
}
.Wikimedia-under{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  h4{
    margin-top: 0;
    margin-bottom: 0;
  }
  a{
    display: inline-block;
    text-decoration-line: underline;
    color: #000000;
    font-style: italic;
    font-size: 14px;
    margin-right: 15px;
  }
}
.Wikimedia-dateitems {
  form {
    display: flex;
    gap: 15px;
    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    .Wikimedia-dateselectitems,
    .Wikimedia-monthselectitems {
      position: relative;
      select {
        background: #f8f9fa;
        border: 1px solid #a2a9b1;
        border-radius: 2px;
        appearance: none;
        padding: 6px;
        font-weight: 700;
        margin-bottom: 0;
        padding: 15px 0;
        padding-left: 1em;
        padding-right: 2em;
        width: 100%;
        font-size: 20px;
        border-radius: 4px;
      }
      &:after {
        content: "";
        background-image: url(../image/arrow.svg);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        height: 100%;
        width: 0.75em;
        position: absolute;
        font-size: 1em;
      }
    }
    .Wikimedia-monthselectitems {
      select {
        padding-left: 60px;
        padding-right: 60px;
      }
    }
    .Wikimedia-searchbtn {
      background-color: #3c35fb;
      border-radius: 2px;
      color: #fff;
      padding-left: 1.5em;
      padding-right: 1.5em;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 20px;
      outline: none;
      border: none;
      font-weight: 700;
      border-radius: 5px;
      cursor: pointer;
      @media (max-width: 767px) {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}

// all historical
.when-birthday {
  background-color: #c2c2c2;
  padding: 15px 0;
  .when-birthday-main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      justify-content: center;
    }
    h4 {
      font-family: "HelveticaNeue";
      font-size: 20px;
      margin-right: 20px;
    }
    form {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      @media (max-width: 768px) {
        justify-content: center;
      }
      .when-birthday-dateselectitems,
      .when-birthday-monthselectitems {
        position: relative;
        select {
          background: #f8f9fa;
          border: 1px solid #a2a9b1;
          border-radius: 2px;
          appearance: none;
          padding: 6px;
          font-weight: 700;
          margin-bottom: 0;
          padding: 10px 0;
          padding-left: 1em;
          padding-right: 1.5em;
          width: 100%;
          font-size: 20px;
        }
        &:after {
          content: "";
          background-image: url(../image/arrow.svg);
          background-repeat: no-repeat;
          background-position: right center;
          background-size: contain;
          right: 10px;
          top: 0;
          bottom: 0;
          margin: auto 0;
          height: 100%;
          width: 0.75em;
          position: absolute;
          font-size: 1em;
        }
      }
      .when-birthday-monthselectitems {
        select {
          padding-left: 40px;
          padding-right: 40px;
        }
      }
      .when-birthday-searchbtn {
        background-color: #3c35fb;
        border-radius: 2px;
        color: #fff;
        padding-left: 1.5em;
        padding-right: 1.5em;
        font-size: 20px;
        outline: none;
        border: none;
        font-weight: 700;
        border-radius: 5px;
        cursor: pointer;
        @media (max-width: 767px) {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
}
.See-all-historical {
  padding: 40px 0;
  color: #ffffff;
  @media (max-width: 767px) {
    text-align: center;
  }
  h2 {
    font-size: 30px;
    max-width: 50%;
    font-family: "HelveticaNeue";
    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
  p {
    font-family: "Linux Libertine", "Georgia", "Times", serif;
    font-size: 18px;
  }
}
.all-historical-people {
  margin-top: 90px;
  margin-bottom: 90px;
}
.all-historical-peoplemain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: "HelveticaNeue";
  margin-top: 80px;
  margin-bottom: 80px;
  .all-historical-peopleimage {
    padding: 0 15px;
    width: 30%;
    @media (max-width: 767px) {
      order: -1;
      width: 100%;
    }
  }
  .all-historical-peopledeatils {
    padding: 0 15px;
    width: 70%;
    span {
      color: #3c35fb;
      font-size: 18px;
      font-weight: 700;
    }
    h4 {
      font-size: 42px;
      color: #000000;
      margin: 10px 0;
    }
    p {
      font-family: "Linux Libertine", "Georgia", "Times", serif;
      font-size: 20px;
      max-width: 60%;
      line-height: 28px;
      @media (max-width: 767px) {
        max-width: 100%;
      }
    }
    .all-historical-peopledeatilsimg {
      img {
        width: 100%;
      }
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}