@import "~sass-lib/editor/editor-includes";

.editor-styles-wrapper .block-editor-block-list__layout .wp-block.clock.wp-block-shiro-clock {
  border: rem(1) solid darkgrey;
  padding: 1.5rem !important;
  width: rem(400);
}

.editor-styles-wrapper .block-editor-block-list__layout .clock {

  .wp-block-columns {
    margin: 0;
  }

  &__title {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  &__contents {
    margin: 0 auto;
    width: fit-content;

    &__count {
      padding-bottom: rem(8);

      &-left-column {
        max-width: fit-content;
      }

      &-divider {
        font-weight: bold;
        padding: 0 rem(5);
      }

      &-right-column {
        margin: 0 !important;
      }

      &-count {
        border: rem(2) solid darkgrey;
        display: flex;
        font-weight: bold;
        width: fit-content;

        span {
          border-right: rem(.5) solid lightgrey;
          min-width: rem(16);
          padding: 0 rem(2);
        }
      }
    }

    &__disclaimer {
      font-size: rem(8);
      font-style: italic;
      margin-top: rem(15);
    }
  }

  .clock__contents__count-count.has-label {
    border: none;
    font-weight: normal;
    margin: 0 auto;
    text-align: center;

    span {
      border-right: none;
      font-weight: bold;
      min-width: rem(4);
      padding: 0;
    }
  }

  .block-editor-inner-blocks .wp-block {
      margin: 0 !important;
  }
}
