.editor-styles-wrapper .block-editor-block-list__layout .wp-block.clock.wp-block-shiro-clock {
  border: 1px solid darkgrey;
  padding: 1.5rem !important;
  width: 400px;
}

.editor-styles-wrapper .block-editor-block-list__layout .clock {

  .wp-block-columns {
    margin: 0;
  }

  &__title {
    text-align: center;
  }

  &__contents {

    &__count {
      padding-bottom: 8px;

      &-left-column {
        max-width: fit-content;
      }

      &-divider {
        font-weight: bold;
        padding: 0 5px;
      }

      &-right-column {
        margin: 0 !important;
      }

      &-count {
        border: 2px solid darkgrey;
        display: flex;
        font-weight: bold;
        width: fit-content;

        span {
          border-right: .5px solid lightgrey;
          min-width: 16px;
          padding: 0 2px;
        }
      }
    }

    &__disclaimer {
      font-size: 8px;
      font-style: italic;
      margin-top: 15px;
    }
  }

  .block-editor-inner-blocks .wp-block {
      margin: 0 !important;
  }
}
