@mixin style-guide-button-reset() {
	border: none;
	border-radius: $border-radius-base;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	padding: rem(6) rem(12);
	@include font-size(14, 16);
	@include line-height(20, 22);
}

@mixin style-guide-button(
	$color,
	$color-hover,
	$color-text,
	$border-color: transparent,
) {
	@include style-guide-button-reset;
	background-color: $color;
	border: 1px solid $border-color; // Buttons with and without borders take up the same space
	color: $color-text;
	transition: $transition-duration-base background;

	&:hover {
		background-color: $color-hover;
		box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15);
		color: $color-text;
	}

	&:focus {
		@include focus-ring($hex: false, $inset: false);
		background-color: $color-hover;
		border-color: $color-base--inverted;
		color: $color-text;

		.site-footer & {
			@include focus-ring($hex: true, $inset: false);
		}
	}

	&:disabled,
	&:is(a):not([href]) {
		background-color: $background-color-filled--disabled;
		box-shadow: none;
		cursor: text;
	}
}

@mixin button-primary() {
	@include style-guide-button(
		$color-primary,
		$color-primary--hover,
		$color-base--inverted,
	);
}

@mixin button-secondary() {
	@include style-guide-button(
		$color-secondary,
		$color-secondary--hover,
		$color-base--inverted,
	);
}

@mixin button-tertiary() {
	@include style-guide-button(
		$color-tertiary,
		$color-tertiary--hover,
		$color-primary,
	);
	background: linear-gradient(to top, $color-tertiary, $color-tertiary), $color-primary;
	background-clip: padding-box, border-box;

	&:hover,
	&:focus {
		background: linear-gradient(to top, $color-tertiary--hover, $color-tertiary--hover), $color-primary--hover;
		background-clip: padding-box, border-box;
		border-color: transparent;
		color: $color-primary--hover;
	}

	&:disabled,
	&:is(a):not([href]) {
		background-color: $color-tertiary;
		border-color: $background-color-filled--disabled;
		color: $background-color-filled--disabled;
	}
}

@mixin button-link() {
	@include style-guide-button(
		transparent,
		transparent,
		$color-primary,
	);
	@include has-font-size("default");
	margin: 0 rem(-1);
	padding: 0 rem(1);

	&:hover {
		box-shadow: none;
		color: $color-primary--hover;
	}

	&:focus {
		border-color: transparent;
	}

	&:disabled,
	&:is(a):not([href]) {
		background-color: transparent;
		color: $background-color-filled--disabled;
	}
}

@mixin button-transparent() {
	@include style-guide-button(
		transparent,
		transparent,
		black,
		black
	);

	&:focus {
		border-color: black;
	}
}

@mixin button-link-arrow($back: false) {
	@include button-link();
	@include style-guide-arrow($back);
}

@mixin donate-red90-button {
	@include button-secondary;
	&::before {
		@include button-icon-rules;
	}
}
