@mixin hover-box-shadow {
	border: 1px solid transparent;
	transition: $transition-ease-medium border-color box-shadow;

	&:hover {
		border-color: $wmui-color-base90;
		box-shadow: $box-shadow-card-element;
	}
}

@mixin global-margin-bottom() {
	margin-bottom: rem(40);
}

// Responsive padding
@mixin padding($topBottomMobile, $leftRightMobile, $topBottomDesktop, $leftRightDesktop) {
	padding: rem($topBottomMobile) rem($leftRightMobile);

	@media (min-width: $medium-bp) {
		padding: rem($topBottomDesktop) rem($leftRightDesktop);
	}
}

@mixin list-reset() {
	margin: 0;
	padding: 0;

	li {
		font-size: inherit;
		line-height: inherit;
	}
}

@mixin target-ie {
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		@content;
	}
}
