/**
 * Responsive padding for all sides, mobile and desktop.
 *
 * There are helper mixins below for setting just a few of the options.
 */
@mixin responsive-padding-all-values(
	$top-mobile,
	$right-mobile,
	$bottom-mobile,
	$left-mobile,
	$top-desktop,
	$right-desktop,
	$bottom-desktop,
	$left-desktop
) {
	@if $top-mobile {
		padding-top: rem($top-mobile);
	}
	@if $right-mobile {
		padding-right: rem($right-mobile);
	}
	@if $bottom-mobile {
		padding-bottom: rem($bottom-mobile);
	}
	@if $left-mobile {
		padding-left: rem($left-mobile);
	}

	@media (min-width: $medium-bp) {
		@if $top-desktop {
			padding-top: rem($top-desktop);
		}
		@if $right-desktop {
			padding-right: rem($right-desktop);
		}
		@if $bottom-desktop {
			padding-bottom: rem($bottom-desktop);
		}
		@if $left-desktop {
			padding-left: rem($left-desktop);
		}
	}
}

@mixin responsive-padding-top( $top-mobile, $top-desktop ) {
	@include responsive-padding-all-values(
		$top-mobile, false, false, false,
		$top-desktop, false, false, false
	);
}

@mixin responsive-padding-bottom( $bottom-mobile, $bottom-desktop ) {
	@include responsive-padding-all-values(
		false, false, $bottom-mobile, false,
		false, false, $bottom-desktop, false
	);
}

@mixin responsive-padding-top-bottom( $mobile, $desktop ) {
	@include responsive-padding-all-values(
		$mobile, false, $mobile, false,
		$desktop, false, $desktop, false
	);
}

@mixin responsive-padding-left-right( $mobile, $desktop ) {
	@include responsive-padding-all-values(
		false, $mobile, false, $mobile,
		false, $desktop, false, $desktop
	);
}

@mixin responsive-padding(
	$top-bottom-mobile,
	$left-right-mobile,
	$top-bottom-desktop,
	$left-right-desktop
) {
	@include responsive-padding-all-values(
		$top-bottom-mobile, $left-right-mobile, $top-bottom-mobile, $left-right-mobile,
		$top-bottom-desktop, $left-right-desktop, $top-bottom-desktop, $left-right-desktop
	);
}

@mixin responsive-padding-all( $mobile, $desktop ) {
	@include responsive-padding-all-values(
		$mobile, $mobile, $mobile, $mobile,
		$desktop, $desktop, $desktop, $desktop
	);
}
