// Flexbox
@mixin flexbox( $mobile-direction, $desktop-wrap, $desktop-bp, $desktop-direction ) {
	display: flex;
	flex-direction: $mobile-direction;

	@media (min-width: $desktop-bp) {
		flex-direction: $desktop-direction;
		flex-wrap: $desktop-wrap;
	}
}

// Module Sizing
@mixin module-width( $desktop-bp, $desktop-width ) {
	width: 100%;

	@media (min-width: $desktop-bp) {
		width: $desktop-width;
	}
}

@mixin absolute-full-cover() {
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

@mixin aspect-ratio( $width, $height ) {
	position: relative;

	&::before {
		content: " ";
		display: block;
		padding-top: ($height / $width) * 100%;
		width: 100%;
	}
}

@mixin responsive-margin-top($mobile, $desktop) {
	margin-top: rem($mobile);

	@media (min-width: $medium-bp) {
		margin-top: rem($desktop);
	}
}

@mixin responsive-margin-bottom($mobile, $desktop) {
	margin-bottom: rem($mobile);

	@media (min-width: $medium-bp) {
		margin-bottom: rem($desktop);
	}
}

@mixin responsive-margin-right($mobile, $desktop) {
	margin-right: rem($mobile);

	@media (min-width: $medium-bp) {
		margin-right: rem($desktop);
	}
}


// Grids
@mixin bp-large {
	@media only screen and (min-width: $large-bp) {
		@content;
	}
}

@mixin bp-medium {
	@media only screen and (min-width: $medium-bp) {
		@content;
	}
}

@mixin bp-small {
	@media only screen and (min-width: $small-bp) {
		@content;
	}
}


// Non-duotone gradients
@mixin black-gradient-vertical() {
	@include absolute-full-cover();

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

@mixin blue-gradient-vertical() {
	@include absolute-full-cover();

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+37,000000+37,3a25ff+100&0+37,0.65+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 37%, rgba(58,37,255,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 37%,rgba(58,37,255,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 37%,rgba(58,37,255,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a63a25ff',GradientType=0 ); /* IE6-9 */
}

$content-wrapper: ".wysiwyg" !default;
// The `.wysiwyg` class is used to style post content. This mixin provides a
// way of replacing the wrapper class name used, so that the block editor can be
// styled in the same way as frontend templates.
@mixin wysiwyg {
	#{$content-wrapper} {
		@content;
	}
}

@mixin wysiwyg-wrap {
	#{$content-wrapper} & {
		@content;
	}
}

@mixin has-blocks-wrap {
	@include wysiwyg-wrap {
		.page.has-blocks &,
		.single.has-blocks &,
		.block-area.block-area & {
			@content;
		}
	}
}
