/**
 * Globally consistent bottom margin of 40px. This originated as
 * default block spacing, but could also be used for other elements.
 */
@mixin global-margin-bottom() {
	margin-bottom: rem(40);
}

/**
 * Responsive margins.
 */
@mixin responsive-margin-top($mobile, $desktop) {
	margin-top: rem($mobile);

	@media (min-width: $medium-bp) {
		margin-top: rem($desktop);
	}
}

@mixin responsive-margin-bottom($mobile, $desktop) {
	margin-bottom: rem($mobile);

	@media (min-width: $medium-bp) {
		margin-bottom: rem($desktop);
	}
}

@mixin responsive-margin-right($mobile, $desktop) {
	margin-right: rem($mobile);

	@media (min-width: $medium-bp) {
		margin-right: rem($desktop);
	}
}

