// Flexbox
@mixin flexbox( $mobile-direction, $desktop-wrap, $desktop-bp, $desktop-direction ) {
	display: flex;
	flex-direction: $mobile-direction;

	@media (min-width: $desktop-bp) {
		flex-direction: $desktop-direction;
		flex-wrap: $desktop-wrap;
	}
}

// Module Sizing
@mixin module-width( $desktop-bp, $desktop-width ) {
	width: 100%;

	@media (min-width: $desktop-bp) {
		width: $desktop-width;
	}
}

@mixin absolute-full-cover() {
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

@mixin aspect-ratio( $width, $height ) {
	position: relative;

	&::before {
		content: " ";
		display: block;
		padding-top: ($height / $width) * 100%;
		width: 100%;
	}
}

$content-wrapper: ".wysiwyg" !default;
// The `.wysiwyg` class is used to style post content. This mixin provides a
// way of replacing the wrapper class name used, so that the block editor can be
// styled in the same way as frontend templates.
@mixin wysiwyg {
	#{$content-wrapper} {
		@content;
	}
}

@mixin wysiwyg-wrap {
	#{$content-wrapper} & {
		@content;
	}
}

@mixin has-blocks-wrap {
	@include wysiwyg-wrap {
		.page.has-blocks &,
		.single.has-blocks &,
		.block-area.block-area & {
			@content;
		}
	}
}
