.wp-block-shiro-stairs > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.block-list-appender {
		flex: 0 1 calc( 50% - 1rem);
		height: 300px;
		background: rgba(0,0,0,0.05);
		border-radius: 10px;
		border: 1px dashed #1e1e1e;
	}

	.block-editor-button-block-appender {
		height: 100%;
		width: 100%;
		margin-left: 0;
	}
}
