a {
	@include style-guide-link;
	margin: rem(-1);
	padding: rem(1);

	// TODO: This is not valid html, we should really fix all of these.
	div, ul, p, #{$headings}, #{$heading-classes} {
		color: $wmui-color-base10;
	}
}

p,
.p {
	@include p;
}

@each $slug in $heading-classes {
	#{$slug} {
		&:is(p) + p {
			margin-top: 0;
		}
	}
}

.is-style-sans-p {
	@include p;
	font-family: $font-family-sans;
}

@each $slug, $desktop-size, $mobile-size, $line-height in $font-sizes {
	.has-#{$slug}-font-size {
		@include has-font-size( $slug );
	}
}
