@import "~sass-lib/editor/editor-includes";

.content-card {
	.editor-styles-wrapper .block-editor-block-list__layout & {
		&__body {
			@include font-size(14, 12);
		}

		// height: 100% doesn't work in the editor, because of the block appender
		&:only-child {
			height: unset;
			// We want this applied so that we still have access to the inserter
			margin-bottom: rem(40);
		}

		&:hover {
			cursor: unset;
		}
	}
}
