@import "style-guide-variables";
@import "style-guide-variables-overrides";

// Colors
$color-blue: #3A25FF;
$color-dark-blue: #3625D1;
$color-dark-dark-blue: #301FD5;
$color-light-turquoise: #C2FFE9;
$color-turquoise: #05E9D1;
$color-dark-turquoise: #01B7B1;
// Mainly used for Donation click-to-actions
$color-pink: #d40356;
$color-yellow: #eab013;
$color-dark-pink: #E71959;
$color-dark-dark-pink: #D6276B;
$color-purple: #B71DA0;
$color-dk-purple: #2516b5;
$color-dark-gray: #6d7378;
$color-gray: #6D8799;
$color-ltgray: #B6C3CC;
$color-black: #212025;
$color-white: #fff;

$link-highlight-color: #c1bffa;
$cta-bg-color: #fdf3f8;
$cta-color: #e33a72;
$footer-gray: $wmui-color-base20;
$color-periwinkle: #eeeaff;

// Transition
$transition: 0.3s all;
