@import "~sass-lib/editor-includes";
@import "~sass-lib/_style-guide-variables-mixins.scss";

.wp-block-shiro-stair {
	.wp-block-shiro__image-preview {
		height: 192px;
		width: rem(314);
	}

	.components-placeholder {
		background: rgba(0, 0, 0, 0.05);
		height: 192px;
		width: 314px;
	}
}
