article {
	width: 40rem;

	@media (max-width: $medium-bp) {
		width: 100%;
	}

	& + .article-footer {
		@include responsive-margin(40, 80, top);
	}

	@media (max-width: 767px) {
		padding: 0 1.25rem;
		display: flex;
		flex-direction: column;

		.article-main {
			order: 1;
		}

		.sidebar-float {
			order: 2;
		}
	}

	a:hover {
		text-decoration: underline;
	}
}

.sidebar-float {
	float: right;
	margin-right: 0;
	@include responsive-margin(0, 32, bottom);

	@media (min-width: $medium-bp) {
		max-width: rem(380);
		padding-left: 5rem;
	}

	@media (min-width: 1150px) {
		margin-right: rem(-130);
	}

	& > div:not(:last-child) {
		// border-bottom: 1px solid $color-gray;
		// padding-bottom: 2.5rem;
		// margin-bottom: 1rem;

		// @media (min-width: $medium-bp) {
		// 	padding-bottom: 4rem;
		// 	margin-bottom: 2rem;
		// }
	}

	a {
		transition: 0.3s all;

		i {
			transition: 0.3s all;
		}

		&:hover {
			color: $color-blue;

			i {
				color: $color-blue;
				transform: scale(1.17);
			}
		}
	}

	.fact-number {
		color: $color-dark-gray;
		margin-bottom: .5rem;
		@include font-size(80, 72);
	}

	.fact {
		@include font-size(24, 21);
		font-weight: 300;
		color: $color-black;
		margin-bottom: 1rem;
	}

	.social-share {
		display: flex;

		.h5 {
			color: #000;
			margin-right: 1rem;
		}

		li {
			display: inline-block;
			margin-right: 0;
		}

		a {
			color: $color-blue;

			&:hover {
				color: $color-blue;
			}
		}
	}
}

.download-container {
	li {
		margin-bottom: 1rem;
		list-style-type: none;
		margin-left: 0;
	}

	a {
		display: flex;
	}

	i {
		margin-right: .5rem;
	}
}

.article-footer {

	.h5 {
		@include responsive-margin(8, 0, bottom);
	}

	.read-more {
		@include responsive-margin(16, 30, bottom);

		.h5 {
			@include responsive-margin(0, 16, right);
		}

		li {
			position: relative;
			margin-right: .5rem;

			&:not(:last-child):after {
				content: ",";
				position: absolute;
			}
		}

		a {
			color: $color-blue;

			&:hover {
				color: $color-dark-blue;
			}
		}
	}

	.social-share {

		.h5 {
			@include responsive-margin(0, 8, right);
		}

		li {
			@include responsive-margin(0, 0, right);
		}

		a {
			color: $color-blue;
			font-weight: bold;

			.icon {
				height: 20px;
			}

			i {
				transition: 0.3s all;
			}

			&:hover {

				i {
					color: $color-dark-blue;
					transform: scale(1.17);
				}
			}
		}
	}
}

.article-img {
	@include responsive-margin(40, 80, bottom);
	@include responsive-margin(40, 64, top);

	img {
		width: 100%;
	}

	&.article-img-main {
		position: relative;
		overflow: hidden;
		max-height: 75vh;
		margin-top: 0;
	}

	.img-caption {
		color: #666;
		margin-top: 0.5rem;
		font-style: italic;
		font-size: 13px;

		a {
			transition: 0.3s all;
			&:hover {
				color: $color-blue;
			}
		}
	}

	a {
		text-decoration: underline;
	}

}

.article-title {
	margin: rem(45) auto;
	max-width: rem(640);

	@include responsive-margin(30, 60, bottom);

	@media (max-width: $medium-bp) {
		width: 100%;
		padding: 0 rem(20);
	}

	p {

		@include has-font-size( large );
		color: $wmui-color-base0;
		font-family: $font-family-serif;
		font-weight: 400;
		line-height: 1.5;
	}
}
