body {
	font-family: $sans;
	font-size:100%;
	background:#fff;
	color: #000;
}

hr {
	border-top: 1px solid #000;
}

button {
	@include button-reset();
}


// Accessibility
a, button {
	&:focus {
		@include focus-outline(dotted, currentColor);
	}
}

// TODO Fix globally - currently only applied to COVID-19 page
.page-id-61054 {
    p {
        margin-bottom: 1em;
    }
    .mod-margin-bottom {
        margin-bottom: 3em;
    }
    li {
        @include font-size(15, 13);
        margin-bottom: 1em;
    }
    ul {
        margin-bottom: 1em;
    }
    #content {
        margin-top: 2em;
    }
}