body {
	font-family: $sans;
	font-size:100%;
	background: $wmui-color-base100;
	color: $wmui-color-base10;
	overflow-x: hidden;
}

hr {
	border-top: 1px solid $wmui-color-base10;
}

button {
	@include style-guide-button-reset();
}


// Accessibility
a, button {
	&:focus {
		@include focus-outline(dotted, currentColor);
	}
}

// TODO Fix globally - currently only applied to COVID-19 page
.page-id-62496 {
	#content,
	.toc-nav::before {
		content: "";
		display: block;
		padding-top: 2em;
	}

	.mod-margin-bottom {
		margin-bottom: 3em;
	}

	@include wysiwyg {
		li {
			@include font-size(15, 13);
			margin-bottom: 1em;
		}
		ul {
			margin-bottom: 1em;
		}
	}
}
