body {
	font-family: $sans;
	font-size:100%;
	background:#fff;
	color: #000;
}

hr {
	border-top: 1px solid #000;
}

button {
	@include button-reset();
}


// Accessibility
a, button {
	&:focus {
		@include focus-outline(dotted, currentColor);
	}
}

// TODO Fix globally - currently only applied to COVID-19 page

#content p {
	font-size: 1.125rem;
	line-height: 1.5;
	margin-bottom: 2.8125rem;
}

.page-id-62496 {
	p {
		margin-bottom: 1em;
	}
	.mod-margin-bottom {
		margin-bottom: 3em;
	}
	li {
		@include font-size(15, 13);
		margin-bottom: 1em;
	}
	ul {
		margin-bottom: 1em;
	}
	#content {
		margin-top: 2em;
	}
}
