// New variables and mixins to support the stepped migration to block editor content.

// FIXME - this mixin uses the old variable for $medium-bp (768px) rather than
// the table breakjpoint from the style guide (720px) to align with the padding
// applied to the content column via the `padding` mixin. Should be updated
// here along with that mixin.
@mixin alignfull( $content-column: 980px ) {

	margin-left: rem(-20);
	margin-right: rem(-20);
	width: 100vw;

	@media ( min-width: #{$medium-bp} ) {
		margin-left: rem(-40);
		margin-right: rem(-40);
	}

	@media ( min-width: #{$content-column + 2 * 40px} ) {
		margin-left: calc(#{$content-column / 2} - 50vw);
		margin-right: calc(#{$content-column / 2} - 50vw);
	}
}

@mixin alignfull-padded( $content-column: 980px ) {

	@include alignfull( $content-column );

	padding-left: rem(20);
	padding-right: rem(20);

	@media ( min-width: #{$medium-bp} ) {
		padding-left: rem(40);
		padding-right: rem(40);
	}

	@media ( min-width: #{$content-column + 2 * 40px} ) {
		padding-left: calc(50vw - #{$content-column / 2});
		padding-right: calc(50vw - #{$content-column / 2});
	}
}
