// New mixins to support the stepped migration to block editor content.

@mixin alignfull( $content-column: 980px ) {

	margin-left: rem(-20);
	margin-right: rem(-20);
	width: 100vw;

	@media ( min-width: #{$width-breakpoint-tablet} ) {
		margin-left: rem(-40);
		margin-right: rem(-40);
	}

	@media ( min-width: #{$width-breakpoint-desktop} ) {
		margin-left: calc(#{$content-column / 2} - 50vw);
		margin-right: calc(#{$content-column / 2} - 50vw);
	}
}

@mixin alignfull-padded( $content-column: 980px ) {

	@include alignfull( $content-column );

	padding-left: rem(20);
	padding-right: rem(20);

	@media ( min-width: #{$width-breakpoint-tablet} ) {
		padding-left: rem(40);
		padding-right: rem(40);
	}

	@media ( min-width: #{$width-breakpoint-desktop} ) {
		padding-left: calc(50vw - #{$content-column / 2});
		padding-right: calc(50vw - #{$content-column / 2});
	}
}

// Font-sizes: desktop, mobile, line-height.
$font-sizes: (
	"default": 18 16 1.75,
	"small":   14 12 1.75,
	"medium":  20 18 1.5,
	"large":   24 21 1.25,
	"xlarge":  32 24 1.25,
	"jumbo":   40 30 1.25
);

@mixin has-font-size( $size ) {
	$values: map-get( $font-sizes, $size );
	$desktop: nth($values, 1);
	$mobile: nth($values, 2);
	$line-height: nth( $values, 3);

	@include font-size( $desktop, $mobile );
	line-height: $line-height;
}

@mixin article-font {
	font-family: $font-family-serif;

	@include has-font-size("default");
}
