// styles for Wikipedia 20 shortcodes

.collage {
    width: 100vw;
    overflow: hidden;
    .collage-content {
        position: fixed; 
    }
    .stop-1 {
        stop-color: #ffffff;
        stop-opacity: 0;
    }
    .stop-0 {
        stop-color: #ffffff;
    }
    .filled {
        fill: url(#mainGradient);
    }
    .fake-scroll {
        min-height: 100vh;
    }
    svg {
        position: relative;
        z-index: 1000;
    }
    .intro {
        width: 60%;
        height: 50vh;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 5rem;
        left: 0;
        right: 0;
        max-width: 500px;
        text-align: center;
        z-index: 3000;
        .intro-text {
            height: inherit;
            display: flex;
            align-items: center;
        }
        p {
            font-size: 1rem;
            font-size: inherit;
            background-color: rgba(255, 255, 255, 0.8);
            box-shadow: 0px 0px 5px 2px #ffffff;
            border-radius: 10px;
        }
    }
    .scroll-indicator {
        font-size: 2rem;
        position: fixed;
        text-shadow: 0px 0px 5px #ffffff;
        bottom: 5vh;
        left: 0;
        right: 0;
        margin: auto;
        animation: scroll 8s infinite ease-in-out;
        animation-delay: 3s;
    }
    h1 {
        font-size: 2.6rem;
        width: 60%;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 5rem;
        left: 0;
        right: 0;
        height: 2em;
        line-height: 1;
        max-width: 500px;
        text-align: center;
        z-index: 0;
        @media (min-width: $medium-bp) {
            font-size: 5rem;
        }
    }
    svg {
        circle {
            fill: $wmui-color-base0;
        }
        line {
            stroke: $wmui-color-base30;
            stroke-width: 1;
        }
        text {
            font-size: 0.625rem;
            color: $wmui-color-base50;
        }
    }
    .recent-edits {
        position: fixed;
        margin-top: 0.5em;
        z-index: 4000;
        width: 100%;
        text-align: center;
        span {
            display: inline-block;
            padding: 0.125rem 0.25rem;
            background-color: rgba(255, 255, 255, 0.9);
            box-shadow: 0px 0px 5px 2px #ffffff;
            border-radius: 10px;
            @media (min-width: $medium-bp){
                font-size: 1rem;
            }
        }
        .label {
            position: relative;
        }
        .label:after {
            content: "";
            position: absolute;
            border-bottom: 2px solid #36c;
            width: 20px;
            bottom: -0.125rem;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    .story-blob, .close, .next-story {
        cursor: pointer;
    }
    .story-overlay {
        width: 100%;
        position: fixed;
        background-color: #ffffff;
        border: 0px;
        padding: 0;
        height: calc(100vh - 67px);
        top: 67px; // navigation on mobile
        z-index: 4000;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
        &::after,
        &::before {
        	content: "";
			width: 100%;
			display: block;
			position: absolute;
        }
        &::before {	
			background: linear-gradient( #ffffff, transparent);
			height: 2rem;
			top: 0;
        }
        &::after {
			background: linear-gradient( transparent, #ffffff);
			height: 4rem;
			bottom: 0;
        }
        .story-content-container {
	        overflow-y: auto;
	        height: 100%;
	        padding: 2rem;
	        // space for scrolling
	        &::after {
	            content: "";
	            display: block;
	            height: 8rem;
	            width: 100%;
	            @media (min-width: $medium-bp) {
	            	height: 4rem;
	            }
	        }
        }
        h2 {
        	margin-bottom: 0.5rem;
        }
        .story-icon {
        	height: 1em;
			margin-top: 3px;
			margin-right: 0.5em;
        }
        .story-image {
            float: right;
            width: 150px;
            height: 150px;
            background: linear-gradient(30deg, pink, blue);
            border-radius: 50%;
            background-size: cover;
            background-position: center center;
        }
        .story-since {
        	margin-bottom: 1rem;
        }
        .story-quote {
        	margin-top: 1rem;
        	blockquote {
        		border-left: 0.25rem solid $wmui-color-base0;
        		padding-left: 1rem;
        		span {
        			display: block;
        		}
        	}
        }
        @media (min-width: $medium-bp) {
            width: 600px;
            min-height: 0;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            height: 60vh;
            padding: 0;
            margin: auto;
            z-index: 2000;
            border: 1px solid $wmui-color-base0;
            .story-image {
	            width: 200px;
	            height: 200px;
            }
        }
        .close {
            text-decoration: underline;
            color: $wmui-color-base30;
            position: absolute;
            display: inline-block;
            padding: 0.5rem;
            top: 0.5rem;
            right: 0.5rem;
            left: auto;
            z-index: 3000;
        }
        .story-nav {
	        display: flex;
	        flex-direction: row-reverse;
	        position: fixed;
	        z-index: 3000;
	        bottom: 0;
	        right: 0;
	        width: 100%;
	        padding: 1rem;
	        @media (min-width: $medium-bp){
	        	position: relative;
	        }
	        .next-story {
	        	background-color: $wmui-color-base0;
	        }
        }
        p:empty {
        	display: none;
        }
    }
}

.timeline {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 1rem;
    .milestones {
        margin-bottom: 1rem;
    }
    .year {
        display: flex;
        justify-content: center;
        .top-articles {
            width: auto;
            max-width: 500px;
            display: flex;
            flex-direction: column;
            text-align: right;
            justify-content: start;
            @media (min-width: $medium-bp) {
                width: 40%;
                flex-direction: row;
                justify-content: end;
            }
            p {
                display: none;
                @media (min-width: $medium-bp) {
                    display: block;
                }
            }
        }
        .top-articles,
        h3 {
            margin-top: 1.25rem;
            @media (min-width: $medium-bp) {
                margin-top: 2rem;
            }
        }
        .top-viewed,
        .top-edited {
            width: 48px;
            @media (min-width: $medium-bp) {
                width: 64px;
                margin-left: rem(5);
            }
        }
        .top-viewed span,
        .top-edited span {
            display: inline-block;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            border: 1px solid $wmui-color-base70;
            background-color: #ffffff;
            @media (min-width: $medium-bp) {
                width: 64px;
                height: 64px;
            }
        }
        .year-label {
            color: $wmui-color-base30;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
            padding-bottom: 0.5rem; 
            text-align: center;
            position: relative;
            width: 2.5em;
            @media (min-width: $medium-bp) {
            	width: 4em;
                margin-right: 1rem;
                margin-left: 1rem;
            }
            &::before {
                content: "";
                height: 100%;
                width: 1px;
                position: absolute;
                background: $wmui-color-base30;
                top: 0;
                left: 0;
                right: 0;
                margin: auto;
           }
           span {
           		background-color: #ffffff;
                position: relative;
                z-index: 10;
                display: inline-block;
           }
        }
        .milestone {
            width: 40%;
            max-width: 500px;
            flex-grow: 1;
        }
        div {
            display: inline-block;
        }
        &.highlight {
            .year-label {
                color: $wmui-color-base0;
                font-weight: 700;
            }
        }
    }
}

.projects {
    position: relative;
    text-align: center;
    margin-bottom: 64px;
    @media (min-width: $medium-bp) {
        margin-bottom: rem(112);
    }
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    span {
        display: inline-block;
        width: 48px;
        height: 48px;
        border: 1px solid $wmui-color-base50;
        background-color: #ffffff;
        margin: 1rem 1rem 0 0;
        border-radius: 50%;
        &.special {
            width: 64px;
            height: 64px;
        }
    }
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity;
    transition-timing-function: ease;
    transition-delay: 0.15s, 0s;
    transition-duration: 0s, 0.15s;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(2vh);
    }
    20% {
        transform: translateY(0);
    }
}