// styles for Wikipedia 20 shortcodes

// FIX for future, font-sizes used .page-template-page-report-landing, .page-template-page-report-section as guide
.page-template-page-freeform .freeform-content {
	p, .p {
		font-size: 1.125rem;
		line-height: 1.5;
		margin-bottom: 1.125rem;
		> a {
			font-size: inherit;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	span.p {
		margin-bottom: 0;
	}
}

// WP20 variables
$symbols: "./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_FIREWORKS.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_WikiSource.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_WikiQuote.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_puzzleglobe2.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_PACHAMAMA.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_CAMERA.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_CAKE1.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_BRAILLE.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_WWW.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_WIKINEWS.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_WIKIVOYAGE.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_W.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_PENANDPAPER.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols__WIKIDATA.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_OWL_OF_ATHENA.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_twenty_v1.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_WikiVoyge.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_KUEBIKO.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_MediaWiki.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_WIKI_INCUBATOR.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols__HumanFigure2.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_WikiSpecies.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_Wikiversity.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols__WikiBooks.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols__twenty_v2.png";

$symbols_alt: "./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_BASKETBALL.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_WIKTIONARY.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_MUSIC_PARTY.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_SMILE.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_heart.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_mail.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_WIKICOMMONS.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_environment.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_SERPENT.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_WIFI.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_SPRAYCAN.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_Mokorotlo.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_THUNDERBIRD.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_ESC.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20symbols_Ghyama.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_Adinkra_Brave.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_EQUAL.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_MosqueDome.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_BigBen.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_HumanFigure3.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_IBIS_OF_THOTH.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_PAINTING_EASLE.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_KINTSUGI.png",
	"./assets/src/foundation-assets/wikipedia20/WP20symbols/WP20Symbols_HAMSA.png";

$random_delay: 5,1,10,4,23,19,3,13,8,21,14,6,22,9,20,16,12,2,7,18,15,11,17,24;

$wp20_color_1: #049DFF;
$wp20_color_2: #DC0816;
$wp20_color_3: #0154D5;
$wp20_color_4: #EE8019;
$wp20_color_5: #028B3F;
$wp20_color_6: #F0BC00;
$wp20_color_7: #E679A6;
$wp20_color_8: #E9E7C4;
$wp20_color_9: #8401D5;
$wp20_color_10: #5EB34F;
$wp20_color_11: #FD6363;
$wp20_color_12: #222222;
$wp20_colors: $wp20_color_1,$wp20_color_2,$wp20_color_3,$wp20_color_4,$wp20_color_5,$wp20_color_6,$wp20_color_7,$wp20_color_8,$wp20_color_9,$wp20_color_10,$wp20_color_11;

@for $i from 1 to 12 {
	.wp20-color-#{$i} {
		border-color: #{nth($wp20_colors, $i)};
	}
	.wp20-fill-color-#{$i}:hover,
	.wp20-fill-color-#{$i}.active {
		fill: #{nth($wp20_colors, $i)};
	}
}

.wp20 h1,
.wp20 h2 {
	font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
	font-weight: normal;
	line-height: 1.1;
	@include marginBottom(32, 40, $medium-bp);
}

.wp20 h2 {
	@include font-size(32, 24);
	@include marginBottom(16, 24, $medium-bp);
}

.section > div {
	@include marginBottom(16, 0, $medium-bp);
}


.section .wp20.intro {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	@include marginBottom(24, 32, $medium-bp);
	p {
		font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
		@include font-size(24, 20)
	}
	h1:nth-of-type(1) {
		margin-bottom: 1em;
	}
	h1:nth-of-type(2) {
		margin-top: 1em;
	}
	h1:first-child:after {
		content: "";
		position: absolute;
		top: auto;
		width: 50vw;
		height: 1em;
		background-image: url("./assets/src/svg/wave.svg");
		background-repeat: repeat-x;
		background-size: 0.7em 0.4em;
		background-position-x: 102%;
		background-position-y: 50%;
		animation: move 8s linear infinite;
		animation-play-state: paused;
		animation-direction: alternate;
		display: block;
		transform: translate(80%, 20%);
		@media (min-width: $medium-bp) {
			width: 100vw;
			transform: translate(-102%, 40%);
			background-position-y: 0;
			top: 0;
		}
	}
	.intro h1,
	> div {
		overflow: hidden;
		@media (min-width: $medium-bp) {
			overflow: visible;
		}
	}
	&:after,
	&:before {
		content: "";
		width: 0.35rem;
		height: 0.35rem;
		border-radius: 50%;
		background-color: $wp20_color_1;
		position: absolute;
		display: block;
		top: 1rem;
		right: -0.5rem;
		left: auto;
		z-index: -1;
		@media (min-width: $medium-bp) {
			right: -2rem;
		}
	}

	&:before {
		width: 0.45rem;
		height: 0.45rem;
		top: -3rem;
		right: 3rem;
		left: auto;
	}
}

.section:hover .wp20.intro h1:after {
	animation-play-state: running;
}

@for $i from 1 to 11 {
	.section[data-confetti-option="#{$i}"] {
		.intro:after {
			background-color: #{nth($wp20_colors, $i)};
		}
		.intro:before {
			background-color: #{nth($wp20_colors, $i + 1)};
		}
	}
}

.recent-edits {
	font-style: normal;
	transition: $transition;
	display: none;
	> div {
		border: 3px solid $wp20_color_1;
		border-radius: 5px;
		padding: 3rem 1rem;
		text-align: center;
		background-color: $wmui-color-base90;
	}
    .label {
        position: relative;
        font-style: italic;
    }
    .accent {
    	width: 2rem;
		left: 0px;
		right: 0px;
		position: relative;
		margin: auto;
		transform: translateY(-0.5rem);
    }
}

.story-carousel-container {
	padding-top: 2rem;
	background-size: 180%;
	background-repeat: no-repeat;
	background-position: top center;
	@media (min-width: $medium-bp) {
		background-size: 100% auto;
	}
}

.story-carousel {
    position: relative;
    background-color: #ffffff;
    padding: 0;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid $wmui-color-base0;
    border-radius: 5px;
    .story-content-container {
        padding: 1rem 1rem 0 1rem;
        @media (min-width: $medium-bp) {
        	padding: 2rem 2rem 0 2rem;
        }
    }
	@media (min-width: $medium-bp) {
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    padding: 0;
	    margin: auto;
	}
	.story-content-container > div {
		display: none;
	}
	.story-content-container > div:first-child {
		display: block;
	}
    h2 {
    	margin-bottom: 0.5rem;
    }
    .story-icon {
    	height: 1em;
		margin-top: 0.25em;
		margin-right: 0.5em;
    }
    .story-image {
        float: right;
        width: 20vw;
        height: 20vw;
        max-width: 200px;
        max-height: 200px;
        border-radius: 50%;
        background-size: cover;
        background-position: center center;
        border: 3px solid $wp20_color_1;
		@media (min-width: $medium-bp) {
			border-width: 0.25rem;
		}
    }
    @for $i from 1 to 12 {
    	.story-content-container > div:nth-child(11n + #{$i}) .story-image {
    		border-color: #{nth($wp20_colors, $i)};
    	}
    }
    .story-location, .story-since {
    	flex-wrap: nowrap;
    }
    .story-content .story-location {
    	margin-bottom: 0;
    }
    blockquote {
    	margin: 1rem 0 0 0;
		border-left: 0.25rem solid $wmui-color-base0;
		border-right: 0;
    	p {
    		display: block;
    		font-weight: normal;
    		padding-left: 1rem;
    		padding-right: 0;
    		span {
    			display: block;
    		}
    	}
    }
    @for $i from 1 to 12 {
    	.story-content-container > div:nth-child(11n + #{$i - 1}) blockquote {
    		border-color: #{nth($wp20_colors, $i)};
    	}
    }
    .story-nav {
        bottom: 0;
        width: 100%;
        height: 4rem;
        padding: 1rem 1rem 0;
        margin-bottom: 5px;
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 40%);
        align-items: center;
        font-size: 1rem;
        flex-direction: row #{"/*rtl:row-reverse*/"};
    	position: sticky;
        z-index: 0;
        .next-story, .prev-story {
        	cursor: pointer;
        	user-select: none;
        	font-size: 1.75rem;
        	padding: 0.2rem 0.5rem;
        }
    }
}

.symbols-grid {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.wikipedia-h2.h2 {
		@include font-size(24, 20);
	}
	.grid-item,
	.grid-item > div {
		width: 32vw;
		height: 24vw;
		margin-bottom: 2vw;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		overflow: hidden;
		@media (min-width: $medium-bp){
			width: 16vw;
			height: 12vw;
			margin-bottom: 1vw;
		}
		@media (min-width: $large-bp){
			width: 12.5vw;
			height: 9.375vw;
			margin-bottom: 1vw;
		}
		transition: opacity 0.1s;
	}
	.grid-item {
		position: relative;
	}
	.grid-item > div {
		position: absolute;
	}
	.grid-item > div:nth-child(2) {
		opacity: 0;
	}
	@for $i from 1 to length($symbols) {
		.grid-item:nth-child(#{$i}) {
			opacity: 0;
			animation: fadeIn 0.1s;
			animation-delay: #{nth($random_delay, $i) * 0.2}s;
			animation-fill-mode: both;
		}
		.grid-item:nth-child(#{$i}) > div {
			animation: fadeInWait #{length($symbols)*0.5}s infinite;
			animation-delay: #{nth($random_delay, $i) - 1}s;
			animation-fill-mode: both;
			animation-timing-function: linear;
			animation-play-state: running;	
		}
		.grid-item:nth-child(#{$i}):hover > div {
			animation: none;
		}
		.grid-item:nth-child(#{$i}) > div:nth-child(1) {
			background-image: url(#{nth($symbols_alt, $i)});
			animation-direction: alternate;
		}
		.grid-item:nth-child(#{$i}) > div:nth-child(2) {
			background-image: url(#{nth($symbols, $i)});
			animation-direction: alternate-reverse;
		}
		.grid-item:nth-child(#{$i}) {
			order: $i*10;
		}
	}
	.grid-item:hover {
		> div:nth-child(1) {
			opacity: 0;
		}
		> div:nth-child(2) {
			opacity: 1;
		}
	}
	.grid-item.grid-text > div:nth-child(2) {
		background-image: none;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.grid-item.grid-text.grid-text-1 {
		order: 15;
		animation-delay: 3s;
	}
	.grid-item.grid-text.grid-text-2 {
		order: 65;
		animation-delay: 3.6s;
	}
	.grid-item.grid-text.grid-text-3 {
		order: 115;
		animation-delay: 4.2s;
	}
	.grid-item.grid-text.grid-text-4 {
		order: 165;
		animation-delay: 4.8s;
	}
	@media (min-width: $medium-bp) {
		.grid-item.grid-text.grid-text-1 {
			order: 15;
		}
		.grid-item.grid-text.grid-text-2 {
			order: 75;
		}
		.grid-item.grid-text.grid-text-3 {
			order: 145;
		}
		.grid-item.grid-text.grid-text-4 {
			order: 185;
		}	
	}
	@media (min-width: $large-bp) {
		.grid-item.grid-text.grid-text-1 {
			order: 15;
		}
		.grid-item.grid-text.grid-text-2 {
			order: 95;
		}
		.grid-item.grid-text.grid-text-3 {
			order: 105;
		}
		.grid-item.grid-text.grid-text-4 {
			order: 195;
		}	
	}
}

.timeline {
	.timeline-container {
		position: relative;
	}
	.milestones-window {
		overflow: hidden;
		margin: auto;
		width: 100%;
		@media (min-width: $medium-bp) {
			width: 600px;
		}
	}
	.milestones {
		width: 100%;
		transition: 1s all;
	}
	.milestone {
		display: inline-block;
		transition: 0.5s all;
		@include padding(0, 0, 32, 32);
	}
	img {
		margin-bottom: 1rem;
	}
	.next, .prev {
		position: relative;
		display: inline-block;
		right: auto;
		top: 50%;
		left: 0;
		cursor: pointer;
		font-size: 3rem;
		user-select: none;
		@include padding(16, 0, 16, 16);
		transition: 1s all;
		@media (min-width: $medium-bp) {
			position: absolute;
		}
	}
	.next {
		right: 0;
		left: auto;
	}
}

.movement {
    position: relative;
    .main-vis {
    	width: 69%;
    	margin-left: 0;
		transform: scaleX(1) #{"/*rtl:scaleX(-1)*/"};
    	margin-right: 0;
    }
    .side-vis {
    	position: absolute;
    	right: 0;
    	left: auto;
    	width: 31%;
    	bottom: 0;
    	transform: scaleX(1) #{"/*rtl:scaleX(-1)*/"};
    	z-index: -1;
    }
    @media (min-width: $medium-bp) {
    	.main-vis {
    		width: 65%;
    		margin-left: 4%;
    		margin-right: 0;
    	}
    	.side-vis {
	    	right: 4%;
	    	width: 27%;
	    	left: auto;
    	}
    }
    @media (min-width: $large-bp) {
    	.main-vis {
    		width: 59%;
    		margin-left: 10%;
    		margin-right: 0;
    	}
    	.side-vis {
	    	right: 10%;
	    	left: auto;
	    	width: 21%;
    	}
    }
	a.nonprofit,
	a.projects,
	a.chapters,
	a.usergroups,
	a.thematic,
	a.campaigns {
    	margin-bottom: 0;
    	padding-left: 1.25em;
		background-repeat: no-repeat;
		background-position: left center;
    }
    a.nonprofit {
		background-image: url("./assets/src/svg/individual/wikimedia.svg");
		background-size: 0.875em;
    }
    a.projects {
		background-image: url("./assets/src/svg/circle.svg");
		background-size: 0.75em;
		background-position: left 0.05em center;
    }
    a.chapters {
    	background-image: url("./assets/src/svg/triangle.svg");
    	background-size: 0.75em;
    }
    a.usergroups {
    	background-image: url("./assets/src/svg/circle.svg");
    	background-size: 0.25em;
    	background-position: left 0.2em center;
    }
    a.thematic {
    	background-image: url("./assets/src/svg/square.svg");
    	background-size: 0.625em;
    }
    a.campaigns {
    	background-image: url("./assets/src/svg/diamond.svg");
    	background-size: 0.625em;
    }
    .project-circle {
    	transition: $transition;
    	cursor: crosshair;
    }
    .tooltip {
    	font-size: 1rem;
    	position: fixed;
    	top: 0;
    	left: 0;
    	background-color: rgba(248, 249, 250, 0.95);
    	padding: 0.5rem 1rem;
    	border-radius: 2px;
    	display: inline-block;
    	min-width: 200px;
    	max-width: 400px;
    	width: 20vw;
    	z-index: 1;
    	p {
    		margin-bottom: 0;
    	}
    	strong {
    		display: block;
    	}
    }
}

.top-data {
	.data-options {
		span.p {
			color: $wmui-color-base30;
			padding: 0 0.75rem;
		}
		span {
			white-space: nowrap;
		}
		select {
			display: inline-block;
			color: $wmui-color-base0;
			width: auto;
			appearance: none;
			border: 0;
			border-bottom: 2px solid $wmui-color-base0;
			padding: 0 0.875em 0 0;
			background-image: url("./assets/src/svg/down.svg");
			background-position: right center;
			background-repeat: no-repeat;
		}
		input, label {
			display: inline-block;
			color: $wmui-color-base0;
			width: auto;
		}
		input[type="radio"] {
			border: 0;
			width: 1.2rem;
			height: 1rem;
		}
		input:checked + label {
			border-bottom: 2px solid $wmui-color-base0;
		}
	}
	.top-data-content {
		padding: 0.5rem;
		margin-bottom: 2rem;
		margin-left: -0.5rem;
		transition: $transition;
		&:hover {
			background-color: $wmui-color-base90;
		}
		.total {
			display: block;
			margin-top: 0.5rem;
			margin-bottom: 1rem;
		}
		@media (min-width: $medium-bp) {
			margin-top: 0;
			margin-bottom: 1rem;
		}
	}
	.article-image {
		width: 50px;
		height: 50px;
		background-color: $wmui-color-base90;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		border: 8px solid $wmui-color-base90;
		@media (min-width: $medium-bp) {
			margin-right: 1rem;
			width: 100px;
			height: 100px;
		}
	}
	.article-image-fallback {
		background-image: url("./assets/src/svg/individual/wikipedia-black.svg");
		background-size: 50%;
	}
	p.heading {
		margin-bottom: 0;
		font-weight: 700;
	}
	.desc a {
		text-decoration: underline;
		color: $wmui-color-base30;
	}
	.main-desc {
		flex-grow: 1;
		flex-wrap: nowrap;
		.details {
			order: -1;
			flex-grow: 1;
			margin-right: 0;
			@media (min-width: $medium-bp) {
				order: 0;
				margin-right: 2rem;
			}
		}
	}
	.lang-code, .data .total {
		color: $wmui-color-base20;
	}
	.data {
		text-align: left;
		min-width: 200px;
		max-width: 380px;
		@media (min-width: $medium-bp) {
			text-align: right;
		}
	}
	.article-photo-credits-container {
		line-height: 1.5;
		span, a {
			color: $wmui-color-base30;
		}
		a {
			text-decoration: underline;
		}
	}
}

// easter eggs
.easter-egg-container {
	display: none;
	width: 350px;
	overflow: hidden;
	position: absolute;
	z-index: 20;
	padding: 1rem 1rem 0 1rem;
	background-color: #ffffff;
	box-shadow: 0 5px 20px 0 rgba(0,0,0,.15);
	margin-bottom: 0.5rem;
	.easter-egg-content > p, .easter-egg-content > p > a {
		font-size: 0.9375rem;
	}
}

.easter-egg {
	cursor: pointer;
	position: relative;
	padding-bottom: 0.5em;
	background-image: url("./assets/src/svg/wave.svg");
	background-repeat: repeat-x;
	background-size: 0.6em 0.75em; 
	background-position-x: 0;
	background-position-y: 100%;
	animation: move 8s linear infinite;
	animation-play-state: paused;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0);
	pointer-events: none; 
	@media (min-width: $small-bp) {
		pointer-events: auto;
	}
	&.egg-highlight:before,
	&.egg-highlight:after {
		animation-play-state: running;
	}
	&:before {
		content: '★';
		width: 1em;
		height: 1em;
		position: absolute;
		left: 90% #{"/*rtl:ignore*/"};
		top: -40% #{"/*rtl:ignore*/"};
		color: #F0BC00;
		opacity: 0;
		transform: scale(0.5);
		transform-origin: 50% 50%;
		font-size: 1rem;
		animation: blinkShift 3s linear infinite;
		animation-play-state: paused;
	}
	&:after {
		content: '✦';
		width: 1em;
		height: 1em;
		position: absolute;
		left: 90% #{"/*rtl:ignore*/"};
		top: -40% #{"/*rtl:ignore*/"};
		color: #E679A6;
		opacity: 0;
		transform: scale(0.5);
		transform-origin: 50% 50%;
		font-size: 1rem;
		animation: blinkShift2 3s linear infinite;
		animation-delay: 0.7s;
		animation-play-state: paused;
	}
	&:hover:before, &:hover:after {
		animation-play-state: running;
	}
	&:hover {
		animation-play-state: running;
	}
}

.egg-accent {
	display: inline;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity;
    transition-timing-function: ease;
    transition-delay: 0.15s, 0s;
    transition-duration: 0s, 0.15s;
}

.pulse {
	fill: #ffffff;
	fill-opacity: 0;
	transform-origin: 0% 0% #{"/*rtl:ignore*/"};
	animation-duration: 2s;
	animation-name: pulse;
	stroke: $color-blue; 
	stroke-width: 1px;
	transition: $transition;
	animation-iteration-count: infinite;
}

.page-template-page-freeform .freeform-content {
	// because of shortcodes empty p tags occur
	p:empty {
		display: none;
    }
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInWait {
	0%, 49% {
		opacity: 0;
	}
	51%, 100% {
		opacity: 1;
	}
}

@keyframes scroll {
    0% {
        transform: translateY(0);
        color: $wmui-color-base0;
    }
    40% {
        transform: translateY(2vh);
        color: $color-blue;
    }
    55% {
        transform: translateY(2vh);
        color: $color-blue;
    }
    80% {
        transform: translateY(0);
        color: $wmui-color-base0;
    }
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}

	55% {
		opacity: 1;
	}

	80% {
		opacity: 0;
	}
}

@keyframes pulse {
	0% {
		opacity: 1;
		transform: scale(0.9);
		stroke-width: 2px;
	}

	100% {
		opacity: 0;
		transform: scale(2.4);
		stroke-width: 0px;
	}
}

@keyframes move {
	0% {
		background-position-x: 0;
	}

	100% {
		background-position-x: 100px;
	}
}

@keyframes blinkShift {
	0%, 99% {
		opacity: 0;
		left: 80% #{"/*rtl:ignore*/"};
		top: -40% #{"/*rtl:ignore*/"};
		transform: scale(0);
	}

	10%, 25% {
		opacity: 1;
		transform: scale(0.5);
	}

	40% {
		opacity: 0;
		left: 80% #{"/*rtl:ignore*/"};
		top: -40% #{"/*rtl:ignore*/"};
		transform: scale(0);
	}

	50%, 60% {
		opacity: 0;
		left: 8% #{"/*rtl:ignore*/"};
		top: 30% #{"/*rtl:ignore*/"};
		transform: scale(0);
	}

	70%, 85% {
		opacity: 1;
		transform: scale(0.5);
	}

	90% {
		opacity: 0;
		left: 8% #{"/*rtl:ignore*/"};
		top: 30% #{"/*rtl:ignore*/"};
		transform: scale(0);
	}
}

@keyframes blinkShift2 {
	0%, 99% {
		opacity: 0;
		left: 40% #{"/*rtl:ignore*/"};
		top: -30% #{"/*rtl:ignore*/"};
		transform: scale(0);
	}

	10%, 25% {
		opacity: 1;
		transform: scale(0.5);
	}

	40% {
		opacity: 0;
		left: 40% #{"/*rtl:ignore*/"};
		top: -30% #{"/*rtl:ignore*/"};
		transform: scale(0);
	}

	50%, 60% {
		opacity: 0;
		left: 90% #{"/*rtl:ignore*/"};
		top: 40% #{"/*rtl:ignore*/"};
		transform: scale(0);
	}

	70%, 85% {
		opacity: 1;
		transform: scale(0.5);
	}

	90% {
		opacity: 0;
		left: 90% #{"/*rtl:ignore*/"};
		top: 40% #{"/*rtl:ignore*/"};
		transform: scale(0);
	}
}