@mixin style-guide-link {

	color: $color-primary;
	color: var(--link-color);

	&:focus {

		@include active-color(var(--link-color));
	}

	&:hover {
		text-decoration: underline;

		@include active-color(var(--link-color));
	}
}

/**
 * Darkens a color by 3%, using CSS linear-gradient function.
 *
 * This is necessary for building things like link hover styles, where the
 * base color is defined by a CSS property on a parent block. Since the color
 * is set to the original text color, it should fallback gracefully in browsers
 * that don't support the `background-clip` property.
 *
 * @param {Color}  $color   Base color.
 * @param {Number} $percent Degree by which to lighten the color, expected as a percent.
 * @returns value Expression evaluating to a linear-gradient setting the specified color.
 */
@mixin active-color( $color, $percent: 3% ) {

	@supports (background-clip: text) or (-webkit-background-clip: text) {
		background: linear-gradient(#{$color} #{$percent * -100}, #000 #{(100 - $percent) * 100});
		-webkit-background-clip: text;
		background-clip: text;
	}

	color: $color;
}

@mixin hover-box-shadow {
	border: 1px solid transparent;
	transition: $transition-ease-medium border-color box-shadow;

	&:hover {
		border-color: $wmui-color-base90;
		box-shadow: $box-shadow-card-element;
	}
}

@mixin style-guide-arrow-content {
	content: ' →' #{"/*rtl:'← '*/;"}; // stylelint-disable-line string-quotes
}

@mixin style-guide-arrow-link {

	@include has-font-size( "default" );
	@include style-guide-link;
	display: inline-block;
	font-weight: 700;
	position: relative;
	// This reflects one en space plus the width of the arrow (1em).
	padding-right: 1.5em; /*rtl: padding-left: 1.5em)*/

	&::after {
		@include style-guide-arrow-content;
		color: $wmui-color-accent50;
		color: var(--link-color);
		position: absolute;
		right: 0; /*rtl: left: 0;*/
	}
}

@mixin style-guide-button-reset() {
	border: none;
	display: inline-block;
	font-weight: bold;
	border-radius: $border-radius-base;
	cursor: pointer;
	padding: rem(6) rem(12);
	@include font-size(14, 16);
	@include line-height(20, 22);
}

@mixin style-guide-button(
	$color,
	$color-hover,
	$color-active,
	$color-focus,
	$color-text,
) {
	@include style-guide-button-reset;
	background: $color;
	color: $color-text;
	transition: $transition-duration-base background;

	&:hover {
		background: $color-hover;
		box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15);
	}

	&:active,
	&:focus {
		box-shadow: none;
	}

	&:active {
		background: $color-active;
		outline: 1px solid $color-active;
		outline-offset: 1px;
	}

	&:focus {
		background: $color-focus;
		outline: 1px solid $color-focus;
		outline-offset: 1px;
	}
}

@mixin style-guide-dropdown-caret-blue() {
	background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.79922 1.21083L8.87282 0.199951L4.99922 3.90555L1.2101 0.199951L0.199219 1.21083L4.99922 6.01083L9.79922 1.21083Z' fill='%233A25FF'/%3E%3C/svg%3E%0A");
}

@mixin style-guide-dropdown-caret-black() {
	background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.79922 1.21083L8.87282 0.199951L4.99922 3.90555L1.2101 0.199951L0.199219 1.21083L4.99922 6.01083L9.79922 1.21083Z' fill='%23000000'/%3E%3C/svg%3E%0A");
}

@mixin style-guide-dropdown-base() {

	@include style-guide-button-reset();
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: rem( 6 ) rem( 30 ) rem( 6 ) rem( 10 );
	background-color: $wmui-color-base90;
	border: 1px solid $wmui-color-base50;
	box-sizing: border-box;
	border-radius: 2px;
	color: $wmui-color-base10;
	font-weight: bold;
	font-size: rem( 14 );
	line-height: 143%;
	background-repeat: no-repeat;
	background-position: calc( 100% - #{rem( 12 )} ) center;
	text-transform: uppercase;
}

@mixin style-guide-dropdown-toggle() {

	@include style-guide-dropdown-base();
	@include style-guide-dropdown-caret-blue();

	&:hover {
		background-color: $wmui-color-base100;
	}

	&:active,
	&:focus {
		outline: none;
		border-color: $wmui-color-blue50;
	}
}

@mixin style-guide-dropdown-select() {

	@include style-guide-button-reset();
	@include style-guide-dropdown-base();
	@include style-guide-dropdown-caret-black();

	&:active,
	&:focus {

		@include style-guide-dropdown-caret-blue();
		color: $wmui-color-blue50;
	}
}
