// Group all style modifications for the 2019-2 transparency report together.

.page-template-page-report-landing,
.page-template-page-report-section {
    // _header.scss
    .header-default .ungrid {
        max-height: unset;
        margin-bottom: 2.5rem;

        .bg-img {
            background-size: contain;
        }
        .content {
            width: unset;
            margin-top: unset;
        }
    }

    .toc-link-item {
        @include font-size(14, 14);
        @include line-height(20, 20);

        a {
            @include padding(8, 16, 8, 16);
            margin: 0;
            font-weight: normal;
            border-radius: 2px;
            color: black;
        }

        &.active > a {
            font-weight: bold;
            background: #eeeaff;
        }

        .toc {
            padding: 0 0 0 16px;

            .toc-link-item {
                display: flex;
                flex-direction: row;
                align-items: flex-start;

                &::before {
                    content: '\2022';
                    padding: 8px 0;
                }
                a {
                    padding: 8px 16px 8px 16px;
                }
            }
        }
    }

    // Override logic in normal menu that hides it on mobile; we use a toggle.
    .report-nav .display-none_small {
        display: block;
    }

    main {
        .page-intro {
            margin-top: 0;
        }

        p {
            @include font-size(18, 18);
            @include line-height(32, 28);
            margin-bottom: 1em;

            strong {
                font-weight: 500;
                @include font-size(24, 21);
                @include line-height(40, 35);
            }
        }
    }
}
