// Group all style modifications for the 2019-2 transparency report together.

.page-template-page-report-landing,
.page-template-page-report-section {
    .header-default .ungrid {
        max-height: unset;
        margin-bottom: 2.5rem;

        .bg-img {
            background-size: contain;
        }
        .content {
            width: unset;
            margin-top: unset;
        }
    }

    .report-section-title {
        border-bottom: 3px solid $wmui-color-base0;
        text-transform: none;
        @include font-size(36, 24);
        font-weight: 500;
        margin-bottom: rem(50);
    }

    // Nested menu handling.
    .toc {
        padding: 0;
    }
    .toc-link-item {
        max-width: 252px;
        a {
            @include font-size(14, 14);
            @include line-height(20, 20);
            @include padding(8, 16, 8, 16);
            margin: 0;
            font-weight: normal;
            border-radius: 2px;
            color: black;
        }

        &.active > a {
            font-weight: bold;
            background: #eeeaff;
        }

        .toc {
            padding: 0 0 0 rem(16);

            .toc-link-item {
                display: flex;
                flex-direction: row;
                align-items: flex-start;

                &::before {
                    content: '\2022';
                    padding: rem(8) 0;
                }
                a {
                    padding: rem(8) rem(16);
                }
            }
        }
    }

    .report-content {
        .page-intro {
            margin-top: 0;
        }

        .article-img {
            margin: 1rem 0;
        }

        img {
            max-width: 100%;
        }
        .column img {
            @media (max-width: $medium-bp) {
                max-width: 50%;
                display: block;
                margin: auto;
            }
            @media (max-width: $small-bp) {
                max-width: 75%;
            }
        }

        p {
            @include font-size(18, 18);
            @include line-height(32, 28);
            margin-bottom: 1em;

            strong {
                font-weight: 500;
                @include font-size(24, 21);
                @include line-height(40, 35);
            }
        }

        h2 {
            @include font-size(24, 21);
            padding-bottom: 4px;
            border-bottom: 2px solid black;
            margin-bottom: 1em;
        }
        h2.report-section-title {
            @include font-size(36, 24);
        }
        h3 {
            @include font-size(21, 18);
            margin: rem(30) 0 rem(21);
        }
        h4 {
            @include font-size(18, 16);
            margin: rem(18) 0 rem(6);
        }
    }

    .table-data {
        tbody tr {
            border-bottom: 0.6px solid #000;
        }
        th,
        td {
            padding: rem(8);
            @include font-size(16, 14);
            font-weight: 500;

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }

            a {
                color: black; // a11y issue?
            }
        }
        th {
            text-transform: uppercase;
        }
    }
}
