// Group all style modifications for the 2019-2 transparency report together.

.page-template-page-report-landing,
.page-template-page-report-section,
.page-template-page-stories {
    .header-default .header-content {
        @media (max-width: $medium-bp) {
            margin-top: 30px;
        }
    }
    .header-default .ungrid {
        max-height: unset;
        @media (min-width: $medium-bp) { margin-bottom: 2.5rem; }

        .bg-img {
            background-size: contain;
        }
        .content {
            width: unset;
            margin-top: unset;
        }
    }

    @keyframes redacted-text {
        0% { background-color: transparent; }
        100% { background-color: #000; color: #000; }
    }

    .blackout {
        padding: 0 2px;
        animation: redacted-text 5s alternate infinite;
    }

    .report-section-title {
        border-bottom: 3px solid $wmui-color-base0;
        text-transform: none;
        @include font-size(36, 24);
        font-weight: 500;
        margin-bottom: rem(50);
    }

    // Nested menu handling.
    .toc {
        padding: 0;
        @media (max-width: ( $medium-bp - 1 )) {
            margin-bottom: 2rem;
        }
        @media (min-width: $medium-bp) {
            max-width: 268px;
            max-height: calc( 100vh - 107px );
            overflow-y: auto;
            padding-right: rem(16);
        }
    }
    .toc-link-item {
        a {
            font-size: rem(14);
            line-height: 1.4;
            padding: rem(8) rem(16);
            margin: 0;
            font-weight: normal;
            border-radius: 2px;
            color: black;
        }

        &:hover,
        &:focus {
            background: #eaecf0;
        }

        &.active:hover,
        &.active:focus {
            background: unset;
        }

        &.active > a {
            font-weight: bold;
            background: #eeeaff;
        }

        .toc {
            padding: rem(2) 0 0 0;

            .toc-link-item {
                display: flex;
                flex-direction: row;
                align-items: flex-start;

                &::before {
                    content: '\2022';
                    padding: rem(8) 0 rem(8) rem(16);
                }
                a {
                    padding: rem(8) rem(16);
                }
            }

            .-active {
                font-weight: bold;
                &::before {
                    display: none;
                }
            }

            @media (min-width: $medium-bp) {
                // Undo sticky on nested menus.
                position: static;
                max-height: unset;
                max-width: unset;
            }
        }
    }


    // Mobile menu collapsing.
    .report-nav {
        position: relative;
    }
    .report-nav > .toc-link-item {
        @media (max-width: ( $medium-bp - 1)) { display: none; }
        &.active {
            @media (max-width: ( $medium-bp - 1)) {
                display: list-item;
                a {
                    padding-right: 3em;
                }
            }
        }
    }
    .report-nav.menu--expanded > .toc-link-item {
        @media (max-width: ( $medium-bp - 1)) {
            display: list-item;
            &:first-of-type a {
                padding-right: 3em;
            }
        }
    }
    .menu-toggle {
        list-style-type: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;

        @media (min-width: $medium-bp) {
            display: none;
        }
    }
    .menu--expanded .menu-toggle {
        width: 3em;
    }

    [data-menu-toggle] {
        display: block;
        height: 2.2em;
        width: 100%;
        text-align: right;
        padding: 0 1.2em 0 0;
        border: 1px solid transparent;
        border-radius: 2px;
        background: transparent;
        transition: border-color 200ms;

        &:hover,
        &:focus {
            border-color: black;
        }

        &::before {
            content: '\25BE';
            display: inline-block;
            transform: scaleX(1.5);
        }
    }
    .menu--expanded [data-menu-toggle]::before { content: '\25B4'; }

    // Anchor link behaviour
    :target::before {
        content: ' ';
        display: block;
        height: 0;
        @media screen and (min-width: $medium-bp) {
            height: 80px;
            margin-top: -80px;
        }
    }

    &.admin-bar {
        :target::before {
            @media screen and (min-width: $medium-bp) {
                height: 125px;
                margin-top: -125px;
            }
            @media screen and (min-width: 48em) {
                height: 115px;
                margin-top: -115px;
            }
        }
    }

    // Page content.
    .report-content {
        .page-intro {
            margin-top: 0;
        }

        .article-img {
            margin: 1rem 0;
        }

        img {
            max-width: 100%;
        }
        .column img {
            @media (max-width: ( $medium-bp - 1 )) {
                max-width: 50%;
                display: block;
                margin: auto;
            }
            @media (max-width: $small-bp) {
                max-width: 75%;
            }
        }

        p {
            @include font-size(18, 18);
            line-height: 1.5;
            margin-bottom: 1em;
        }

        h2 {
            font-size: rem(24);
            padding-bottom: 4px;
            border-bottom: 2px solid black;
            margin-bottom: 1em;

            &.report-section-title {
                font-size: rem(28);
                @media (min-width: $medium-bp) { font-size: rem(36); }
                margin-bottom: 1.5em;
            }
        }

        h2.story-link {
            border-bottom: 0;

            a {
                color: #3a25ff;
                &:hover, &:focus {
                    text-decoration: underline;
                }
            }
        }

        h3 {
            line-height: 1.5;
            margin: rem(30) 0 rem(21);
            font-size: rem(18);
            @media (min-width: $medium-bp) { font-size: rem(21); }
        }

        h4 {
            margin: rem(18) 0 rem(6);
            font-size: rem(16);
            @media (min-width: $medium-bp) { font-size: rem(18); }
        }

        .note {
            font-size: 1rem;
        }

        .mar-bottom {
            // This is a misappropriation of this class, but it lets us properly
            // scroll table overflow on small devices.
            overflow-x: auto;
        }
    }

    table {
        margin-bottom: 2rem;
    }

    .table-data {
        thead tr {
            border-bottom: 0;
        }
        tbody tr {
            border-bottom: 0.6px solid #000;
        }
        th,
        td {
            padding: rem(8);
            font-weight: 500;
            font-size: rem(14);
            @media (min-width: $medium-bp) { font-size: rem(16); }

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }

            a {
                color: black; // a11y issue?
            }
        }
        th {
            text-transform: uppercase;
        }
    }

    td.legend-color {
        width: 1em;
        height: 1em;
        margin-bottom: -1em;
        display: inline-block;
        padding: 0;
    }

    .stories {
        h3.uppercase {
            font-size: rem(18);
            margin-bottom: 0.5em;
            @media (min-width: $medium-bp) { font-size: rem(24); }
        }

        .img-container {
            height: 0;
            width: 100%;
            padding-bottom: 66%;
            display: block;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .card-content {
        .story-name {
            margin: 0.5em 0;
            font-size: rem(21);
            @media (min-width: $medium-bp) { font-size: rem(24); }
        }

        .story-excerpt {
            margin-bottom: 0.5em;
            font-size: rem(16);
            @media (min-width: $medium-bp) { font-size: rem(18); }
        }

        a {
            font-size: rem(18);
            font-weight: 500;
        }

        @media (max-width: ( $medium-bp - 1 )) {
            margin-bottom: 2em;
        }
    }

    .reports-archive {
        font-size: rem(18);

        tr {
            border-bottom: 1px solid black;
        }

        td {
            padding: 1em;

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }

            a {
                font-size: inherit;
                font-weight: 500;
                color: #3a25ff;

                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }

        @media (min-width: $medium-bp) {
            font-size: rem(20);
        }
    }
}

// Landing page-specific header styles.
.page-template-page-report-landing {
    .header-default {
        // Finesse sizing of censor bars-header text on mobile.
        h1 {
            @media (max-width: ( $medium-bp - 1 )) {
                width: auto;
                padding-right: 0;
            }
        }
        .w-50p {
            @media (max-width: ( $medium-bp - 1 )) {
                margin-bottom: 0;
            }
        }
        // .page-intro-text contains only the header image on the report landing page,
        // and should be suppressed on mobile to avoid impacting header spacing.
        .page-intro-text {
            @media (max-width: ( $medium-bp - 1 )) {
                display: none;
            }
        }
    }
    main p strong {
        font-weight: bold;
        @include font-size(24, 21);
        @include line-height(40, 35);
    }
}
