// Utilities, helpers, etc.
.clear-fix:after {
	content: "";
	display: table;
	clear: both;
}

.visually-hidden {
	position: absolute !important;
	height: 1px; width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.display-none {
	display: none;
}

.display-none_small {
	@media (max-width: 767px) {
		display: none;
	}
}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}

.center {
	text-align: center;
}


// Font Colors
.color-white {
	color: #fff;
	transition: 0.3s all;
}
.color-blue {
	color: $color-blue;
}
a.color-blue {
	color: $color-blue;
	&:hover { color: $color-dk-purple; }
}
.color-dark-blue {
	color: $color-dark-blue;
}
.color-turquoise{
	color: $color-turquoise;
}
.color-dark-turquoise {
	color: $color-dark-turquoise;
}
.color-pink {
	color: $color-pink;
}
.color-dark-pink {
	color: $color-dark-pink;
}
.color-ltgray {
	color: $color-ltgray;
}
.color-gray {
	color: $color-dark-gray; // `$wmui-color-base30` is slightly too light to `#f8f9fa` bg.
}
.color-black {
	color: $color-black;
}


// Background Colors
.bg-blue {
	background: $color-blue;
}
.bg-dark-blue {
	background: $color-dark-blue;
}
.bg-turquoise{
	background: $color-turquoise;
}
.bg-dark-turquoise {
	background: $color-dark-turquoise;
}
.bg-pink {
	background: $color-pink;
}
.bg-dark-pink {
	background: $color-dark-pink;
}
.bg-gray {
	background: $color-gray;
}
.bg-ltgray {
	background: $wmui-color-base80;
}
.bg-black {
	background: #000;
	color: #fff;
}
footer.bg-black {
	background: $footer-gray;
}
.rounded {
	border-radius: 5px;
}
.shadow {
	border: 1px solid #e5e5e5;
	transition: all 250ms ease;
}
.shadow:hover {
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15)
}

// Buttons and links
.arrow-link {
	color: $color-blue;
	font-size: 15px;
	font-weight: bold;
}

.arrow-link::after {
    content: ' →' #{"/*rtl:'← '*/;"};
}

.btn-label-a11y {
	font-size: 0;
	height: 1px;
	overflow: hidden;
	display: block;
}

.btn {

	// Colors
	&.btn-blue {
		@include button($color-blue, $color-blue, $color-white, $color-white, 11px 1.5rem, .6rem 1rem);
		&:hover {
			box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.21);
		}
	}

	&.btn-white {
		@include button($color-white, $color-white, $color-blue, $color-blue, 11px 1.5rem, .6rem 1rem);
		&:hover {
			box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.21);
		}
		font-size: 20px;
	}

	&.btn-pink {
		@include button($color-pink, $color-pink, $color-white, $color-white, 11px 1.5rem, .6rem 1rem);
		&:hover {
			box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.21);
		}
	}
}

// Control button color from module parent container - like for CTAs
.btn-blue {
	.btn {
		@include button($color-blue, $color-blue, $color-white, $color-white, 11px 1.5rem, .6rem 1rem);
		&:hover {
			box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.21);
		}
	}
}

.btn-pink {
	.btn {
		@include button($color-pink, $color-pink, $color-white, $color-white, .8rem 1.5rem, .6rem 1rem);
		&:hover {
			box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.21);
		}
	}
}

.fade-20 {
	transition: opacity 200ms ease;
	opacity: 0.2;
}

// ** FUNCTIONAL STYLES **

// Spacing
.mar-top {
 margin-top: $space;
}
.mar-right {
 margin-right: $space;
}
.mar-bottom_sm {
 margin-bottom: $space/2;
}
.mar-bottom {
 margin-bottom: $space;
}
.mar-bottom_lg {
	margin-bottom: $space*2;
	@media (max-width: 767px) {
	 margin-bottom: $space;
	}
}


// hide on mobile
.hide-sm.hide-sm {
	@media (max-width: $small-bp) {
	 display:none;
	}
}

// hide overflow.
// useful for one-off full-width boxes
// without being too opinionated in other places that need overlap
.hide-overflow {
	overflow:hidden;
}

// z-index

.rise-up {
	z-index: 1000;
}
.rise-to-top_small {
	@media (max-width: 767px) {
		order: -1;
	}
}
