// Colors
$color-blue: #3A25FF;
$color-dark-blue: #3625D1;
$color-dark-dark-blue: #301FD5;
$color-light-turquoise: #C2FFE9;
$color-turquoise: #05E9D1;
$color-dark-turquoise: #01B7B1;
$color-pink: #F61971;
$color-yellow: #eab013;
$color-dark-pink: #E71959;
$color-dark-dark-pink: #D6276B;
$color-purple: #B71DA0;
$color-dk-purple: #2516b5;
$color-gray: #6D8799;
$color-ltgray: #B6C3CC;
$color-black: #212025;
$color-white: #fff;

$wmui-color-base0: #000;
$wmui-color-base20: #54595d;
$wmui-color-base30: #72777d;
$wmui-color-base70: #c8ccd1;
$wmui-color-base80: #eaecf0;
$wmui-color-base90: #f8f9fa;
$link-highlight-color: #c1bffa;
$cta-bg-color: #fdf3f8;
$cta-color: #e33a72;
$footer-gray: $wmui-color-base20;
$color-periwinkle: #eeeaff;

// Grid
$xlarge-bp: 1400px;
$large-bp: 1200px;
$medium-bp: 768px;
$medium-landscape: 1023px;
$small-bp: 500px;


$space: 16px;

// Animation
$transition: 0.3s all;


// Fonts
$sans: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica Neue,Helvetica,Arial,sans-serif;


// Transition
$transition: 0.3s all;
