@include wysiwyg {
	p a,
	li a {
		//$highlightColor, $highlightTextColor, $underlineThicknessMobile, $underlineThicknessDesktop, $highlightHeightMobile, $highlightHeightDesktop, $desktopBreakpoint
		//@include linkHighlight($link-highlight-color, #000, 4, 4, 24, 30, $medium-bp);
		color: $color-blue;
	}

	p a:hover {
		text-decoration: underline;
	}
}

.single-post {

	@include wysiwyg {
		> h1,
		> h2,
		> h3,
		> h4,
		> ul,
		> p,
		> cite {
			@include article-font;
		}

		> h3 {
			font-family: sans-serif;
			font-size: 1.3rem;
			font-weight: bolder;
			margin-bottom: 5px;
			margin-top: 45px;
		}
	}
}

.single-story {

	@include wysiwyg {
		h1,
		h2,
		h3,
		h4,
		li {
			@include article-font;
		}

		h3 {
			font-family: sans-serif;
			font-size: 1.3rem;
			font-weight: bolder;
			margin-bottom: 5px;
			margin-top: 45px;

			&:first-of-type {
				margin-top: 0;
			}
		}
	}
}
