// The `.wysiwyg` class is used to style post content. This mixin provides a
// way of replacing the wrapper class name used, so that the block editor can be
// styled in the same way as frontend templates.
@mixin wysiwyg {
	$content-wrapper: ".wysiwyg" !default;

	#{$content-wrapper} {
		@content;
	}
}

@include wysiwyg {

	p a,
	li a {
		//$highlightColor, $highlightTextColor, $underlineThicknessMobile, $underlineThicknessDesktop, $highlightHeightMobile, $highlightHeightDesktop, $desktopBreakpoint
		//@include linkHighlight($link-highlight-color, #000, 4, 4, 24, 30, $medium-bp);
		color: $color-blue;
	}

	p a:hover {
		text-decoration: underline;
	}
}

.single-post {

	@include wysiwyg {
		h1,
		h2,
		h3,
		h4,
		li,
		p {
			font-family: "Linux Libertine", Georgia, Times, serif;

			@include font-size(18, 16);
			line-height: 31px;
		}

		h3 {
			font-family: sans-serif;
			font-size: 1.3rem;
			font-weight: bolder;
			margin-bottom: 5px;
			margin-top: 45px;
		}
	}
}

.single-story {

	@include wysiwyg {
		h1,
		h2,
		h3,
		h4,
		li {
			font-family: "Linux Libertine", Georgia, Times, serif;

			@include font-size(18, 16);
			line-height: 31px;
		}

		h3 {
			font-family: sans-serif;
			font-size: 1.3rem;
			font-weight: bolder;
			margin-bottom: 5px;
			margin-top: 45px;

			&:first-of-type {
				margin-top: 0;
			}
		}
	}
}
