.wysiwyg {

	p a,
	li a {
		//$highlightColor, $highlightTextColor, $underlineThicknessMobile, $underlineThicknessDesktop, $highlightHeightMobile, $highlightHeightDesktop, $desktopBreakpoint
		//@include linkHighlight($link-highlight-color, #000, 4, 4, 24, 30, $medium-bp);
		color: $color-blue;
	}

	p a:hover {
		text-decoration: underline;
	}
}

.single-post .wysiwyg h1,
.single-post .wysiwyg h2,
.single-post .wysiwyg h3,
.single-post .wysiwyg h4,
.single-post .wysiwyg li,
.single-post .wysiwyg p {
	font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
	@include font-size(18, 16);
	line-height: 31px;
}

.single-post .wysiwyg h3 {
	font-family: sans-serif;
	font-size: 1.3rem;
	font-weight: bolder;
	margin-bottom: 5px;
	margin-top: 45px;
}

.single-story .wysiwyg h1,
.single-story .wysiwyg h2,
.single-story .wysiwyg h3,
.single-story .wysiwyg h4,
.single-story .wysiwyg li,
.single-story .wysiwyg p {
	font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
	@include font-size(18, 16);
	line-height: 31px;
}

.single-story .wysiwyg h3 {
	font-family: sans-serif;
	font-size: 1.3rem;
	font-weight: bolder;
	margin-bottom: 5px;
	margin-top: 45px;

  &:first-of-type {
    margin-top: 0;
  }
}
