@mixin form-styling {
	background: none;
	border: 1px solid $color-ltgray;
	border-radius: 0;
	margin: rem(3) 0;
	padding: rem(10);

	&:focus {
		@include focus-ring($hex: false, $inset: false, $width: 3px, $transparency: 0.6);
	}
}


// Form elements
input,
textarea {
	@include form-styling;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	display: block;
	width: 100%;
}

.select-wrapper {
	position: relative;

	&::after {
		background: url('assets/dist/fonts/raw-icons/arrow-down.svg') no-repeat;
		content: "";
		display: block;
		fill: $color-dark-gray;
		font-size: 35px;
		height: 35px;
		pointer-events: none;
		position: absolute;
		right: 5px;
		top: 5px;
		width: 35px;
	}
}

select {
	display: block;
	width: 100%;
	@include form-styling;
}

.search-input,
.search-btn {
	@include form-styling;
	display: inline-block;
}
.search-input {
	background: url('assets/dist/fonts/raw-icons/icon-search-grey.svg') 10px 10px no-repeat;
	padding-left: 45px;
	position: relative;
	width: 80%;
}

.checkbox-row {
	margin-bottom: 10px;

	input,
	label {
		display: inline-block;
		vertical-align: middle;
		width: auto;
	}

	input[type="checkbox"] {
		@include form-styling;
		appearance: inherit;
		margin-right: 10px;
	}

	input[type=checkbox]:checked {
		background: $color-turquoise;
	}
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button:not([class]):not([id^="mce"]) {
	@include button-primary();
}

input[type="reset"] {
	@include button-tertiary();
}
