.editor-styles-wrapper.editor-styles-wrapper {
	.hero-home {
		&__header {
			height: unset;
			min-height: 454px;
			overflow: visible;
		}

		&__image-wrapper {
			z-index: unset;

			&--disable-animation {
				animation-play-state: paused;
			}
		}

		&__heading-wrapper {
			z-index: 1;
			position: relative;
		}

		&__heading,
		&__rotating-heading {
			font-weight: 700;
		}

		&__rotating-heading {
			display: block;
			opacity: 1;
		}

		&__toggle-rotating-headings {
			display: block;
		}

		&__heading-color {
			margin-top: 1rem;
		}
	}
}
