.link-list {
	@include font-size(13, 13);

	&.inline-block {

		li {
			display: inline-block;
			margin-bottom: 0;
		}
	}

	> li {
		list-style-type: none;
		margin-left: 0;
		clear: both;
    @media (min-width: 768px) {
  		margin-bottom: 60px;
    }
	}

	&.hover-highlight a {
		//$highlightColor, $highlightTextColor, $underlineThicknessMobile, $underlineThicknessDesktop, $highlightHeightMobile, $highlightHeightDesktop, $desktopBreakpoint
		@include linkHighlight($color-turquoise, #000, 6, 6, 32, 32, $medium-bp);
		font-weight: bold;
		padding-bottom: 5px;
		line-height: 1.8;
	}

	&.hover-highlight_dk a {
		//$highlightColor, $highlightTextColor, $underlineThicknessMobile, $underlineThicknessDesktop, $highlightHeightMobile, $highlightHeightDesktop, $desktopBreakpoint
		@include linkHighlight($color-dark-blue, #fff, 6, 6, 32, 32, $medium-bp);
		font-weight: bold;
		padding-bottom: 5px;
		line-height: 1.8;
	}

	a {
		color: $color-blue;
		display: inline-flex;

		img {
			height: 16px;
			margin-right: 5px;
		}
	}
}

.profile-contacts {
    font-size: 13px;
    color: $color-blue;

    img {
        height: 16px;
        margin-right: 6px;
        margin-top: 1px;
    }
    a:hover {
        text-decoration: underline;
    }
}

.list-inline li {
	display: inline;
	text-decoration: none;
}


// This is for the ridealong nav on the static lists
.toc {
  top: 75px;
  bottom: 0;
	padding-right: 20px;

  // Terrible hack to make sure fixed width stays relative to parent
  @media (min-width: $medium-bp) {
  	position: sticky;
    &.fixedsticky-on {
      width: 320px;
  	}

  	// Less terrible hack to make sure TOC can't intersect with footer
    padding-top: 40px;
    padding-bottom: 120px;
  }

}
.toc-link-item {
	list-style-type: none;
	margin-left: 0;
	margin-bottom: 0;
	font-weight: 600;
}
.toc-link {
	@include font-size(16, 14);
	display:block;
	margin-bottom: 15px;
	color: $color-blue;
	padding-left: 18px;


  &.-active {
    color: #000;

		&::before {
			content: "\2022";
			position: absolute;
			left: 0;
		}
  }
}




// Static list tabs on mobile

.static-list-item {
  @media (max-width: 767px) {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 0;
  }
}
.static-list-heading {
	margin-top: 2rem;
  margin-bottom: 1.5rem;
  position: relative;
  pointer-events: none;
	padding-bottom: 0.5rem;
	border-bottom: 2px solid $color-black;
  @media (max-width: 767px) {
    margin-top: 10px;
    margin-bottom: 10px;
    pointer-events: all;
  }
}

.static-list-contents h3 {
	font-size: 1.375rem;
	color: #888;

	&:before {
		content: "↳";
	}
}

.link-list_image {
	float: right;
	max-width: 200px;
	margin-left: 50px;
}

.page-numbers {
	li {
		list-style-type: none;
		margin-left: 0;
		clear: both;
		display: inline-block;
		margin-bottom: 0;
	}
}
