.link-list {
	@include font-size(13, 13);
	@include style-guide-list-reset;

	&.inline-block {

		li {
			display: inline-block;
			margin-bottom: 0;
		}
	}

	> li {
		list-style-type: none;
		margin-left: 0;
		clear: both;
		@media (min-width: 768px) {
			margin-bottom: 60px;
		}
	}

	&.hover-highlight a {
		//$highlightColor, $highlightTextColor, $underlineThicknessMobile, $underlineThicknessDesktop, $highlightHeightMobile, $highlightHeightDesktop, $desktopBreakpoint
		@include linkHighlight($color-turquoise, #000, 6, 6, 32, 32, $medium-bp);
		font-weight: bold;
		padding-bottom: 5px;
		line-height: 1.8;
	}

	&.hover-highlight_dk a {
		//$highlightColor, $highlightTextColor, $underlineThicknessMobile, $underlineThicknessDesktop, $highlightHeightMobile, $highlightHeightDesktop, $desktopBreakpoint
		@include linkHighlight($color-dark-blue, #fff, 6, 6, 32, 32, $medium-bp);
		font-weight: bold;
		padding-bottom: 5px;
		line-height: 1.8;
	}

	a {
		color: $color-blue;
		display: inline-flex;

		img {
			height: 16px;
			margin-right: 5px;
		}
	}
}

.profile-contacts {
	font-size: 13px;
	color: $color-blue;
	margin-bottom: 20px;

	img {
		height: 16px;
		margin-right: 6px;
		margin-top: 1px;
	}

	a:hover {
		text-decoration: underline;
	}
}

.list-inline {

	@include style-guide-list-reset;

	li {
		display: inline;
		text-decoration: none;
	}
}
