.top-nav {

}

.top-nav-buttons {
  display: flex;
}

  // Top part of header
  .site-main-nav {
    position: relative;
    transition: all 0.5s ease;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: space-between;

    &.flex.flex-medium {
      flex-direction: row;
    }
  }
  .logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // hide mobile only things to start with
  .mobile-nav-toggle,
  .logo-container_sm {
    display:none;
  }

  .logo-container {
    a {
      &:hover {
        opacity: .8;
      }
    }

    svg {
      // https://stackoverflow.com/a/16833496
      backface-visibility: hidden;
      width: 100%;
      max-width: rem(279);
      margin-right: rem(10);
    }
  }

  .nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: $medium-landscape) {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .nav-cta.btn {
    position: relative;
    z-index: 500;

    @media (max-width: $medium-landscape) {
      display: none;
    }
  }

  .mobile-cover {
    position: fixed;
    z-index: 1500;
    background-color: #000;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    opacity: 0.5;
    display: none;
  }

  @media (max-width: $medium-landscape) {
    .mobile-nav-toggle {
      @include buttonNoStyles();
      box-sizing: border-box;
      border-radius: 2px;
      padding: .25rem .4375rem;
      text-align: center;
      transition: 0.3s all;
      background: #f0f0f0;
      width: 57px;
      height: 34px;
      margin-top: 1rem;
      margin-right: 1rem;

      svg {
        width: 100%;
        margin: 0;
      }

      .icon-close {
        display: none;
        margin: 3px auto;
      }
    }
  }

.donate-btn {
  @include buttonNoStyles();
  border-radius: 2px;
  background: #FDE8F0;
  border: 1px solid #FDE8F0;
  color: $color-pink;
  font-weight: bold;
  font-size: 15px;
  height: 34px;
  margin-left: 5px;

  a {
    display: block;
    height: 34px;
  }

  &--desktop {
    a {
      padding: rem(7) 0.4rem 0 0.4rem;
    }
    @media ( max-width: $medium-bp ) {
      display: none;
    }
  }

  &--mobile {
    width: 40px;
    line-height: 34px;
    text-align: center;
    a {
      padding-top: 3px;
      img {
        display: inline-block;
        width: 20px;
        height: 20px;
      }
    }

    @media (min-width: $medium-bp + 1 ) {
      display:none;
    }
  }

  &:focus,
  &:hover {
    border-color: $color-pink;
    outline: none;
  }

  img.secure {
    height: 14px;
    margin-right: 2px;
    margin-bottom: -1px;
  }
}

.language-dropdown {
  button {
    @include buttonNoStyles();
    border-radius: 2px;
    color: $color-blue;
    background: $color-periwinkle;
    border: 1px solid $color-periwinkle;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.4rem;
    height: 34px;
    margin-left: 5px;
    font-size: 13px;
    text-transform: uppercase;

    @media (max-width: $medium-bp) {
      padding: 0;
      text-align: center;
      width: 40px;
    }

    &:focus,
    &:hover {
      border-color: $color-blue;
      outline: none;
    }

    .language-icon {
      margin-right: 5px;

      @media (max-width: $medium-bp) {
        margin: 0 auto;
      }
    }

    .down-indicator {
      margin-left: 4px;

      @media (max-width: $medium-bp) {
        display: none;
      }
    }

    span {
      margin: auto 0;
      @media (max-width: $medium-bp) {
        display: none;
      }
    }
  }
}

.language-list {
  position: fixed;
  background: white;
  border-radius: 5px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.31);
  width: 160px;
  overflow-y: auto;
  display: none;

  @media (max-width: $medium-bp) {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    text-align: right;
    left: 0;
  }

  ul {
    list-style: none;
    padding: 0.4rem;
    margin: 0;

    li {
      margin: 0;
      padding: 0.6rem 1.2rem;

      a.selected {
        padding-bottom: 0.3rem;
        border-bottom: 2px solid $color-blue;
      }
    }
  }
}

// MOBILE STYLES
@media (max-width: $medium-landscape) {
  .logo-container_sm {
    display: flex;
    width: 70%;
    .icon-logo-horizontal {
      width: 63%;
    }
  }
  .logo-container_lg {
    display:none;
  }
  .site-main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .mobile-nav-toggle {
    position:relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
