.top-nav {
  z-index: 2000;
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  transition: top 250ms ease;

  &.pinned {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);

    .site-main-nav {
      transition: all 250ms ease;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &.headroom--unpinned {
    @media (max-width: $medium-bp) {
      top: -70px;
    }
  }

  // Move the top nav out from under WP's fixed header (on non-mobile screens).
  @media screen and (min-width: 601px) {
    .admin-bar & {
      top: 46px;
    }
  }
  @media screen and (min-width: 48em) {
    .admin-bar & {
      top: 32px;
    }
  }
}

  // Top part of header
  .site-main-nav {
    position: relative;
    transition: all 0.5s ease;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: space-between;

    &.flex.flex-medium {
      flex-direction: row;
    }
  }
  .logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // hide mobile only things to start with
  .mobile-nav-toggle,
  .logo-container_sm {
    display:none;
  }
  .main-nav {
    flex-grow: 1;

    &.flex.flex-medium {
      flex-direction: row;
    }

    @media (min-width: 1024px) {
      float: right;
    }
    .current-menu-item {
      color: $color-turquoise;
    }

    a {
      //$highlightColor, $highlightTextColor, $underlineThicknessMobile, $underlineThicknessDesktop, $highlightHeightMobile, $highlightHeightDesktop, $desktopBreakpoint
      @include linkHighlight($color-periwinkle, $color-blue, 0, 0, 48, 48, $medium-bp);
      font-weight: normal;
      z-index: 1;

      &:hover {
        color: $color-blue;
      }
    }
  }

  .logo-container {
    width: 145px;
    a {
      display: block;

      &:hover {
        opacity: .8;
      }
    }

    svg {
      width: 100%;
      max-width: rem(279);
      margin-right: rem(10);
    }
  }

  .nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: $medium-landscape) {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .nav-cta.btn {
    position: relative;
    z-index: 500;

    @media (max-width: $medium-landscape) {
      display: none;
    }
  }

  .main-nav {
    @media (min-width: 1024px) {

      .mobile-nav-toggle {
        display: none;

        i {
          margin-right: 5px;
        }
      }
    }

    @media (max-width: $medium-landscape) {
      border: none !important;

      &.flex.flex-medium {
        flex-direction: row;
      }

      ul.list-inline {
        display: none;

        &.open {
          display: block;
          position: fixed;
          width: 100%;
          background: $color-white;
          left: 0;
          color: #fff;
          z-index: 3000;
          top: 65px;
        }

        li {
          overflow: hidden;
          display: block;
          text-align: left;
          margin-right: 0;
          margin-bottom: 0;
          margin-left: 0;

          a {
            padding: 1rem;
            display: inline-block;
            width: 100%;
          }
        }
      }
    }
  }

  .mobile-cover {
    position: fixed;
    z-index: 1500;
    background-color: #000;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    opacity: 0.5;
    display: none;
  }

  @media (max-width: $medium-landscape) {
    .mobile-nav-toggle {
      @include buttonNoStyles();
      box-sizing: border-box;
      border-radius: 2px;
      padding: .25rem .4375rem;
      text-align: center;
      transition: 0.3s all;
      background: #f0f0f0;
      width: 57px;
      height: 34px;
      margin-top: 1rem;
      margin-right: 1rem;

      svg {
        width: 100%;
        margin: 0;
      }

      .icon-close {
        display: none;
        margin: 3px auto;
      }
    }
  }

.main-nav {
  margin-top: 66px;
  border-top: 1px solid #f4f4f4;
  padding-top: 0.2rem;
  justify-content: space-between;
}

.donate-btn {
  @include buttonNoStyles();
  border-radius: 2px;
  background: #FDE8F0;
  border: 1px solid #FDE8F0;
  color: $color-pink;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  font-size: 15px;
  height: 34px;
  margin-left: 5px;

  @media (max-width: $medium-landscape) {
    display: none;
  }

  &:focus,
  &:hover {
    border-color: $color-pink;
    outline: none;
  }

  img.secure {
    height: 14px;
    margin-right: 2px;
    margin-bottom: -1px;
  }
}

.language-dropdown {
  button {
    @include buttonNoStyles();
    border-radius: 2px;
    color: $color-blue;
    background: $color-periwinkle;
    border: 1px solid $color-periwinkle;
    display: flex;
    padding: 0 0.4rem;
    height: 34px;
    margin-left: 5px;
    font-size: 13px;
    text-transform: uppercase;

    @media (max-width: $medium-bp) {
      padding: 0;
      text-align: center;
      width: 40px;
    }

    &:focus,
    &:hover {
      border-color: $color-blue;
      outline: none;
    }

    .language-icon {
      margin-top: -2px;
      margin-right: 5px;

      @media (max-width: $medium-bp) {
        margin: 0 auto;
      }
    }

    .down-indicator {
      margin-top: 3px;
      margin-left: 4px;

      @media (max-width: $medium-bp) {
        display: none;
      }
    }

    span {
      margin: auto 0;
      @media (max-width: $medium-bp) {
        display: none;
      }
    }
  }
}

.language-list {
  position: fixed;
  background: white;
  border-radius: 5px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.31);
  width: 160px;
  overflow-y: auto;
  display: none;

  @media (max-width: $medium-bp) {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    text-align: right;
    left: 0;
  }

  ul {
    list-style: none;
    padding: 0.4rem;
    margin: 0;

    li {
      margin: 0;
      padding: 0.6rem 1.2rem;

      a.selected {
        padding-bottom: 0.3rem;
        border-bottom: 2px solid $color-blue;
      }
    }
  }
}

.nav-newer,
.nav-older {
  color: $color-dark-gray;
  @include font-size(20, 16);
  font-weight: bold;
  transition: 0.3s all;

  a {
    transition: 0.3s all;

    &:hover {
      color: $color-blue;

      svg {
        fill: $color-blue;
      }
    }
  }

  i {
    display: inline-block;
    font-size: 2.3rem;
    transition: 0.3s all;
  }

  svg {
    fill: $color-dark-gray;
    transition: 0.3s all;
    display: block;

    @media (max-width: 767px) {
      width: 100%;
      max-width: 2.5rem;
    }

  }
}

.nav-newer {
  i {
    margin-right: .5rem;
  }

  .active {
    color: $color-dark-gray;
    opacity: .5;

    &:hover {
      opacity: 1;

      i {
        transform: translateX(-.25rem);
      }
    }
  }

  .inactive {
    color: $color-ltgray;
    svg { fill: $color-ltgray; }
  }

}

.nav-older {
  i {
    margin-left: .5rem;
  }

  &:hover {
    i {
      transform: translateX(.25rem);
    }
  }
}


// MOBILE STYLES
@media (max-width: $medium-landscape) {
  .logo-container_sm {
    display: flex;
    width: 100%;
    .icon-logo-horizontal {
      width: 63%;
    }
  }
  .logo-container_lg {
    display:none;
  }
  .site-main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .mobile-nav-toggle {
    position:relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
