// Profile role sections
.role {
	&__section {
		margin-bottom: rem(50);

		&.has-h2 {
			border-top: 1px solid $wmui-color-base70;
			padding-top: rem(14);
		}

		.toc__content &.wysiwyg h3 {
			margin-bottom: rem(20);
		}

		> p {
			@include article-font;
		}
	}

	&__heading {
		// Override overspecific styles.
		.toc__content .wysiwyg & {
			font-family: $font-family-serif;
			margin-bottom: rem(40);
		}
	}

	&__staff-list {
		@include style-guide-list-reset;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style: none;
		margin-bottom: rem(20);

		&__item {
			flex-basis: 48%;
			margin-bottom: rem(40);
			position: relative;
			transition: 0.3s box-shadow;

			@media (max-width: 767px) {
				&:nth-child(odd) {
					margin-right: 4%;
				}
			}

			@media (min-width: 768px) {
				flex-basis: 23.5%;
				margin-right: 2%;

				&:nth-child(4n+4) {
					margin-right: 0;
				}
			}

			&:hover &__photo {
				box-shadow: 0 0 10px 3px rgba($color-base--active, 0.15);
			}

			&--executive {
				flex-basis: 100%;

				&,
				&:nth-child(odd) {
					margin-right: 0;
				}

				@media (min-width: 768px) {
					display: grid;
					grid-column-gap: 3%;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: auto 1fr;
				}

				p {
					@include font-size(18, 16);

					.wysiwyg & {
						margin-bottom: 0;
					}
				}
			}
		}

		&__item__photo {
			background: #d8d8d8;
			display: inline-block;
			height: rem(150);
			margin-bottom: rem(14);
			object-fit: cover;
			width: 100%;

			@media (min-width: 380px) {
				height: rem(200);
			}

			@media (min-width: 450px) {
				height: rem(265);
			}

			@media (min-width: #{$core-gutenberg-break-small}) {
				height: rem(150);
			}
		}

		&__item--executive &__item__photo {
			grid-row: 1 / span 2;
			height: auto;
			min-height: rem(180);
		}

		&__item h4 {
			// Override overspecific styles.
			.toc__content .wysiwyg & {
				@include has-font-size("default");
				line-height: 1.4;
			}

			a {
				color: inherit;

				&::after {
					bottom: 0;
					content: "";
					display: block;
					left: 0;
					position: absolute;
					right: 0;
					top: 0;
				}

				&:focus {
					@include focus-reset;
					text-decoration: underline;
				}
			}
		}

		&__item--executive h4 {
			.toc__content .wysiwyg & {
				@include has-font-size("medium");
			}
		}

		&__item:focus-within a::after {
			@include focus-ring($hex: true, $inset: false);
			margin: rem(-5);
		}

		p {
			@include has-font-size("small");
			line-height: 1.5;

			// Override overspecific styles.
			.wysiwyg & {
				margin-bottom: 0;
			}
		}
	}

	&__read-more {
		margin-bottom: rem(80);
	}
}
