{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"parenSpacing": true,
	"parser": "babel",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "es5",
	"useTabs": true,
	"overrides": [
        {
            "files": ["**/*.css", "**/*.scss", "**/*.html"],
            "options": {
                "singleQuote": false
            }
        }
    ]
}
