// Fact Module
.fact-full-width {
  @include paddingTopBottom(50, 100);

  .fact-inner {
    @include flexbox(column, nowrap, $medium-bp, row);
    justify-content: space-between;
    max-width: rem(1100);
    margin: 0 auto;
  }

  .fact-text-wrap,
  .social-share {
    display: flex;
    flex-direction: column;
  }

  .fact-text-wrap {
    justify-content: center;
  }

  .fact-number {
    @include font-size(112, 72);
    @include marginBottom(16, 0, $medium-bp);
    @include marginRight(0, 32, $medium-bp);
  }

  .fact {
    @include marginBottom(16, 16, $medium-bp);
    @include marginRight(0, 32, $medium-bp);
  }

  a {
    color: $color-blue;
    @include marginBottom(40, 0, $medium-bp);

    transition: 0.3s all;

    &:hover {
      color: $color-dark-blue;
    }
  }

  i {
    vertical-align: middle;
    margin-right: .5rem;
    transition: 0.3s all;
  }

  .social-share {
    align-items: center;
    margin-top: 25px;

    @media (max-width: 767px) {
      flex-direction: row;
    }

    .h5 {
      color: #000;
      @include marginBottom(0, 16, $medium-bp);
      @include marginRight(16, 0, $medium-bp);
    }

    a {
      &:hover {

        i {
          transform: scale(1.17);
          color: $color-dark-blue;
        }
      }
    }


    li {

      @media (max-width: 767px) {
        display: inline;
      }

      &:not(:last-child) {
        @include marginBottom(0, 16, $medium-bp);
      }
    }
  }
}

.fact-container {
  position: relative;
  @include paddingTopBottom(20, 40);


  .bg-img-container {
    width: 100%;
    left: 0;
    right: 0;
  }
}

.fact-inner {
  position: relative;
  z-index: 999;
}

.fact-inner.w-32p {
  padding-right: 20px;
  padding-left: 20px;
}

.fact-stat-lg {
  @include font-size(64, 30);
  margin-bottom: 10px;
}



