  // Top part of header
  .site-main-nav {
    @include paddingBottom(48, 120, $medium-landscape);
    padding-top: rem(25);
  }
  .logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // hide mobile only things to start with
  .mobile-nav-toggle,
  .logo-container_sm {
    display:none;
  }
  .main-nav {
    @media (min-width: 1024px) {
      float: right;
    }
    .current-menu-item {
      color: $color-turquoise;
    }

    a {
      //$highlightColor, $highlightTextColor, $underlineThicknessMobile, $underlineThicknessDesktop, $highlightHeightMobile, $highlightHeightDesktop, $desktopBreakpoint
      @include linkHighlight($color-turquoise, $color-blue, 0, 0, 27, 27, $medium-bp);
      font-weight: normal;
      z-index: 1;

      &:hover {
        color: $color-blue;
      }
    }
  }

  .logo-container {
    a {
      display: block;

      &:hover {
        opacity: .8;
      }
    }

    svg {
      fill: #fff;
      width: 100%;
      max-width: rem(279);
      margin-right: rem(10);
    }
  }

  .nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: $medium-landscape) {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .nav-cta.btn {
    position: relative;
    z-index: 500;

    @media (max-width: $medium-landscape) {
      display: none;
    }
  }

  .main-nav {

    @media (min-width: 1024px) {

      .mobile-nav-toggle {
        display: none;

        i {
          margin-right: 5px;
        }
      }
    }

    @media (max-width: $medium-landscape) {
      .logo-container_sm {
        display:flex;
      }
      .mobile-nav-toggle {
      //   position: absolute;
      //   right: rem(10);
      //   top: rem(20);
      //   // display: flex;
      //   padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        @include buttonNoStyles();
        padding-right: 0;
        text-align: right;
        transition: 0.3s all;

        &:hover {
          color: $color-light-turquoise;
        }
      }

      ul.list-inline {

        display: none;

        &.open {
          display: block;
          position: absolute;
          width: 100%;
          background: $color-blue;
          left: 0;
          color: #fff;
          z-index: 100;
          top: 100px;
        }

        li {
          display: block;
          text-align: center;
          margin-right: 0;
          margin-bottom: 0;
          margin-left: 0;
          padding: 1rem 0;
          border-bottom: 1px solid $color-dark-blue;

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }

.nav-newer,
.nav-older {
  @include font-size(20, 16);
  font-weight: bold;
  color: $color-gray;
  transition: 0.3s all;

  a {
    transition: 0.3s all;

    &:hover {
      color: $color-blue;

      svg {
        fill: $color-blue;
      }
    }
  }

  i {
    display: inline-block;
    font-size: 2.3rem;
    transition: 0.3s all;
  }

  svg {
    fill: $color-gray;
    transition: 0.3s all;
    display: block;

    @media (max-width: 767px) {
      width: 100%;
      max-width: 2.5rem;
    }

  }
}

.nav-newer {
  i {
    margin-right: .5rem;
  }

  .active {
    opacity: .5;
    color: $color-gray;

    &:hover {
      opacity: 1;

      i {
        transform: translateX(-.25rem);
      }
    }
  }

  .inactive {
    color: $color-ltgray;
    svg { fill: $color-ltgray; }
  }

}

.nav-older {
  i {
    margin-left: .5rem;
  }

  &:hover {
    i {
      transform: translateX(.25rem);
    }
  }
}


// MOBILE STYLES
@media (max-width: $medium-landscape) {
  .logo-container_sm {
    display:block;
  }
  .logo-container_lg {
    display:none;
  }
  .site-main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .mobile-nav-toggle {
    position:relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
