.news-categories {
  border-top: 1px solid $color-ltgray;
  border-bottom: 1px solid $color-ltgray;
  margin-bottom: 4.5rem;


  ul {
    text-align: center;

    &.slider-on-mobile {

      @media (max-width: 767px) {
        overflow: hidden;

        &:focus {
          outline: none;
        }

        // Enable flickity slider
        &:after {
          content: 'flickity';
          display: none;
        }

        .card {
          max-width: 85%;
          margin-right: 1rem;
        }


      }
    }
  }

  li {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    padding: calc(2.5rem - 4px) 0 2.5rem 0;
    border-bottom: 4px solid #fff;
    transition: 0.3s all;

    &.border-turquoise {
      border-color: $color-turquoise;
    }

    &:last-child {
      padding-right: 0;
    }

    &:not(:last-child) {
      margin-right: 2rem;

      // &:after {
      //   content: "\2014";
      //   position: absolute;
      //   right: -28px;
      //   opacity: .5;
      //   font-weight: 300;
      // }
    }
  }

  a {
    transition: 0.3s all;

    &:hover {
      color: #000;
    }
  }
}



// News List
.news-list-container {

  .card {
    @include marginBottom(60, 80, $medium-bp);
  }

  .card-list-container:not(.alternate-img) {

    .card-content {
      @include marginRight(0, 128, $medium-bp);
    }
  }

  .img-container {
    display: block;
    @include marginBottom(16, 0, $medium-bp);
  }

  .h3 {
    @include marginBottom(8, 16, $medium-bp);

    a {
      transition: 0.3s all;

      &:hover {
        color: $color-blue;
      }
    }
  }

  .h4 {
    @include marginBottom(8, 16, $medium-bp);
  }

  .post-meta {
    @include marginBottom(16, 24, $medium-bp);
  }
}

.alternate-img {

  .card {

    &:nth-child(odd) {

      .img-container {
        @include marginRight(0, 128, $medium-bp);
      }
    }

    &:nth-child(even) {
      .img-container {
        order: 2;
      }

      .card-content {
        order: 1;
        @include marginRight(0, 128, $medium-bp);
      }
    }

    .img-container {
      align-self: flex-start;
    }
  }
}

.bg-black {

  .color-gray {

    a {
      transition: 0.3s all;

      &:hover {
        color: #fff;
      }
    }
  }

  &.related-news-container {
    @include padding(80, 0, 112, 0);
  }

  .related-news {
    @include flexbox(column, no-wrap, $medium-bp, row);

    .card {
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        @include marginBottom(40, 0, $medium-bp);
      }

      .img-container {
        position: relative;
        margin-bottom: 1rem;

        .bg-img {
          @include aspect-ratio(16, 9);
          background-repeat: no-repeat;
          background-size: cover;

          &:after {
            transition: 0.3s all;
            @include black-gradient-vertical();
          }

          &.headline-hover:after {
            opacity: .5;
          }
        }
      }

      .card-content,
      .card-heading {
        width: 90%;
        margin: 0 auto;
      }

      .card-heading {
        display: flex;
        align-items: flex-end;
        position: relative;
        z-index: 99;
        transition: 0.3s all;

        &:hover {
          color: $color-turquoise;
        }
      }

      .date {
        display: block;
        text-transform: none;
        @include marginBottom(16, 32, $medium-bp);
      }
    }
  }
}





// News List
.news-card-list {

  .card-list-container {

    .card {
      margin-right: 0;
      margin-bottom: 4rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .img-container {
      order: 2;
      align-self: flex-start;
    }

    .card-content {
      order: 1;
    }
  }
}
