article {

	& + .article-footer {
		@include marginTop(40, 80, $medium-bp);
	}

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;

		.article-main {
			order: 1;
		}

		.sidebar-float {
			order: 2;
		}
	}
}

.sidebar-float {
	float: right;
	// @include marginTop(64, 96, $medium-bp);
	@include marginBottom(0, 32, $medium-bp);

	@media (min-width: $medium-bp) {
		padding-left: 5rem;
		max-width: rem(380);
	}

	@include marginRight(0, -130, 1150px);

	& > div:not(:last-child) {
		// border-bottom: 1px solid $color-gray;
		// padding-bottom: 2.5rem;
		// margin-bottom: 1rem;

		// @media (min-width: $medium-bp) {
		// 	padding-bottom: 4rem;
		// 	margin-bottom: 2rem;
		// }
	}

	a {
		transition: 0.3s all;

		i {
			transition: 0.3s all;
		}

		&:hover {
			color: $color-blue;

			i {
				color: $color-blue;
				transform: scale(1.17);
			}
		}
	}

	.fact-number {
		margin-bottom: .5rem;
		@include font-size(80, 72);
		color: $color-gray;
	}

	.fact {
		@include font-size(24, 21);
		font-weight: 300;
		color: $color-black;
		margin-bottom: 1rem;
	}

	.social-share {
		display: flex;

		.h5 {
			color: #000;
			margin-right: 1rem;
		}

		li {
			display: inline-block;
			margin-right: 0;
		}

		a {
			color: $color-blue;

			&:hover {
				color: $color-blue;
			}
		}
	}
}

.download-container {
	li {
		margin-bottom: 1rem;
		list-style-type: none;
		margin-left: 0;
	}

	a {
		display: flex;
	}

	i {
		margin-right: .5rem;
	}
}

.article-footer {

	.h5 {
		@include marginBottom(8, 0, $medium-bp);
	}

	.read-more {
		@include marginBottom(16, 30, $medium-bp);

		.h5 {
			@include marginRight(0, 16, $medium-bp);
		}

		li {
			position: relative;
			margin-right: .5rem;

			&:not(:last-child):after {
				content: ",";
				position: absolute;
			}
		}

		a {
			color: $color-blue;

			&:hover {
				color: $color-dark-blue;
			}
		}
	}

	.social-share {

		.h5 {
			@include marginRight(0, 8, $medium-bp);
		}

		li {
			@include marginRight(0, 0, $medium-bp);
		}

		a {
			color: $color-blue;

			i {
				transition: 0.3s all;
			}

			&:hover {

				i {
					color: $color-dark-blue;
					transform: scale(1.17);
				}
			}
		}
	}
}

.article-img {

	color: $color-gray;
	@include marginBottom(40, 80, $medium-bp);
	@include marginTop(40, 64, $medium-bp);

	&.article-img-main {
		@include marginTop(0, 0, $medium-bp);
	}

	.img-caption {
		a {
			transition: 0.3s all;
			&:hover {
				color: $color-blue;
			}
		}
	}

	.photo-caption {
		font-weight: bold;
	}

	a {
		text-decoration: underline;
	}

	span {

	}
}

.article-title .h3 {
	color: $color-gray;
	font-weight: 300;
	@include marginBottom(30, 60, $medium-bp);
}