// Colors
$color-blue: #3A25FF;
$color-dark-blue: #3625D1;
$color-dark-dark-blue: #301FD5;
$color-light-turquoise: #C2FFE9;
$color-turquoise: #05E9D1;
$color-dark-turquoise: #01B7B1;
$color-pink: #F61971;
$color-dark-pink: #E71959;
$color-dark-dark-pink: #D6276B;
$color-purple: #B71DA0;
$color-dk-purple: #2516b5;
$color-gray: #6D8799;
$color-ltgray: #B6C3CC;
$color-black: #212025;
$color-white: #fff;


// Grid
$xlarge-bp: 1400px;
$large-bp: 1200px;
$medium-bp: 768px;
$small-bp: 500px;


$space: 16px;

// Animation
$transition: 0.3s all;


// Fonts
$sans: 'Noto Sans', sans-serif;


// Transition
$transition: 0.3s all;