[data-dropdown] {
	position: relative;
	z-index: 2001;
}

[data-dropdown-toggle] {

	@include style-guide-button-reset();
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 6px 8px 6px 12px;
	background-color: $wmui-color-base90;
	border: 1px solid $wmui-color-base50;
	box-sizing: border-box;
	border-radius: 2px;
	color: $wmui-color-base10;
	text-transform: uppercase;
	font-weight: bold;
	font-size: rem( 14 );

	&:hover {
		background-color: $wmui-color-base100;
	}

	&:active,
	&:focus {
		outline: none;
		border-color: $wmui-color-accent50;
	}
}

[data-dropdown-content] {
	&[hidden] {
		// For browsers that don't understand hidden
		display: none;
	}
}

[data-dropdown-backdrop] {
	position: fixed;
	display: block;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100vw;
	z-index: 1999;
	opacity: 0;
	background: #000;
	pointer-events: none;
	transition: 300ms opacity;
}

[data-dropdown-backdrop="active"] {
	pointer-events: auto;
	opacity: 0.6;
}
