.nav-search {
	background: #fff;
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	box-sizing: border-box;
	margin-bottom: 0;
	width: 100%;

	@media ( min-width: #{$medium-landscape} ) {
		align-self: flex-start;
		flex: 0 0 rem(220);
	}

	.search-form__field {

		/**
		 * On iPhones, if the font size in an input field is less than 16px,
		 * Safari will zoom in when the field is activated--and *not* zoom back
		 * out when the field is left, which creates a bad UX. This fakes the
		 * visual effect and does an end-run around the browser. The correct
		 * font size is set on desktop to minimize situations where this hack
		 * might get weird.
		 * @see: https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
		 * @see: https://stackoverflow.com/a/53106477
		 */
		font-size: 16px;
		transform: scale(0.875);
		transform-origin: left center;

		@media ( min-width: #{$medium-landscape} ) {
			font-size: 14px;
			transform: scale(1);
		}
	}
}
