.nav-logo {
	order: 20;
	display: flex;
	align-items: center;
	height: 62px;

	&__image {
		max-height: 24px;
		width: auto;

		@media (min-width: $primary-nav-breakpoint) {
			max-height: 32px;
		}
	}
}
