// Pagination
.page-numbers {
	li {
		list-style-type: none;
		margin-left: 0;
		clear: both;
		display: inline-block;
		margin-bottom: 0;
	}
}

.pagination-container {
	border-top: 1px solid $color-ltgray;
	border-bottom: 1px solid $color-ltgray;
	padding: 2rem 0;
}

.pagination-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.page-number-list {
	display: none;

	@media (min-width: $medium-bp) {
		display: flex;
	}

	li.active a,
	.current {
		background: $color-blue;
		color: #fff;
	}

	a,
	span {
		width: 40px;
		height: 40px;
		display: block;
		text-align: center;
		transition: 0.3s all;

		&:hover {
			background: #E5E5E5;
		}
	}

	.elipsis {
		margin-right: 1.5rem;
		margin-left: 1rem;
	}
}

.nav-newer,
.nav-older {
	color: $color-dark-gray;
	@include font-size(20, 16);
	font-weight: bold;
	transition: 0.3s all;

	a {
		transition: 0.3s all;

		&:hover {
			color: $color-blue;

			svg {
				fill: $color-blue;
			}
		}
	}

	i {
		display: inline-block;
		font-size: 2.3rem;
		transition: 0.3s all;
	}

	svg {
		fill: $color-dark-gray;
		transition: 0.3s all;
		display: block;

		@media (max-width: 767px) {
			width: 100%;
			max-width: 2.5rem;
		}

	}
}

.nav-newer {
	i {
		margin-right: .5rem;
	}

	.active {
		color: $color-dark-gray;
		opacity: .5;

		&:hover {
			opacity: 1;

			i {
				transform: translateX(-.25rem);
			}
		}
	}

	.inactive {
		color: $color-ltgray;
		svg { fill: $color-ltgray; }
	}

}

.nav-older {
	i {
		margin-left: .5rem;
	}

	&:hover {
		i {
			transform: translateX(.25rem);
		}
	}
}
