.pagination {
	border-top: 1px solid $wmui-color-base70;
	border-bottom: 1px solid $wmui-color-base70;
	padding: rem(32) 0;
	margin-bottom: 7rem;
	@include has-font-size("default");
	@include responsive-padding(24, 20, 32, 40);

	&__inner {
		display: flex;
		justify-content: space-between;
		max-width: rem(1360);
		margin: 0 auto;
	}

	&__previous-page,
	&__next-page {
		display: flex;
		align-items: center;

		&:hover {
			color: $color-primary;
		}
	}

	&__previous-page {
		svg {
			margin-right: rem(17);

			@media ( min-width: #{$width-breakpoint-desktop} ) {
				margin-right: rem(14);
			}
		}

		&:hover {
			svg {
				transform: translateX(-.25rem);
			}
		}
	}

	&__next-page {
		svg {
			margin-left: rem(17);

			@media ( min-width: #{$width-breakpoint-desktop} ) {
				margin-left: rem(14);
			}
		}

		&:hover {
			svg {
				transform: translateX(.25rem);
			}
		}
	}

	&__page-numbers {
		display: none;

		li {
			list-style-type: none;
			display: inline-block;
			margin-left: 0;
			margin-bottom: 0;
		}

		li.active a,
		.current {
			background: $color-blue;
			color: #fff;
		}

		a,
		span {
			width: 40px;
			height: 40px;
			text-align: center;
			transition: 0.3s background-color, 0.3s color;

			display: flex;
			align-items: center;
			justify-content: center;
		}

		a:hover {
			background: $wmui-color-base80;
			color: $wmui-color-base0;
		}

		@media ( min-width: #{$width-breakpoint-tablet} ) {
			display: block;
		}
	}

	svg {
		transition: 0.3s transform;
		position: relative;
		top: 3px;
	}

	path {
		fill: currentColor;
	}
}
