.post-list-filter {

	font-family: $font-family-system-sans;

	&__head {
		display: flex;
		align-items: center;
		flex-direction: row;
		margin-bottom: 2rem;

		@media (max-width: $small-bp) {
			flex-direction: column;
			margin-bottom: 0;
		}

		h3 {
			font-family: $font-family-system-sans;
		}
	}

	&__toggle {
		&::before {
			@include button-icon-rules;
			background-image: url("./assets/src/svg/individual/filter.svg");
		}

		// Initial toggle button message states.
		&__message {
			&--show {
				display: inline-block;
			}

			&--hide {
				display: none;
			}
		}

		// Message states when filter container is opened.
		&--open {
			.post-list-filter__toggle__message--hide {
				display: inline-block;
			}

			.post-list-filter__toggle__message--show {
				display: none;
			}
		}
	}

	&__container {
		display: none;
		flex-wrap: wrap;
		column-gap: 1rem;
		row-gap: 1rem;

		&--open {
			display: flex;
		}

		> div {
			flex-grow: 1;
		}
	}

	.action-button {
		@include button-primary();
		margin-left: auto;
		white-space: nowrap;

		@media (max-width: $small-bp) {
			margin-right: auto;
			margin-top: 1rem;
			margin-bottom: 2rem;
		}

		&--clear {
			background-color: $color-dark-gray;
		}

		&--right {
			margin-left: 0;
		}
	}
}

.filter-by-category {
	width: 100%;
	position: relative;

	h5 {
		border-bottom: 1px solid $color-dark-gray;
		padding-bottom: 0.5rem;
	}
}

.search-text-input-button,
.filter-date-inputs-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 1rem;
}


.search-text-input-button input,
.filter-date-inputs-container input {
	height: 2rem;
}

.filter-date-inputs-container {
	@media (max-width: $small-bp) {
		flex-wrap: wrap;
	}
}

.category-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;

	> li {
		margin-bottom: 0;
	}
}

.individual-category {
	display: flex;
	align-items: center;
	cursor: pointer;
	font-family: $font-family-system-sans;
	font-size: 0.75rem;
	background-color: $color-periwinkle;
	border-radius: 0.25rem;
	color: $color-blue;
	font-weight: 700;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	padding: 0.25rem 0.75rem 0.25rem 0.25rem;

	&--applied {
		background-color: $link-highlight-color;
	}

	input {
		margin: 0.25rem;
	}

	&:hover {
		opacity: 0.75;
		transition: opacity 0.25s ease-in-out;
	}
}
