.primary-nav-toggle {
	// button-tertiary
	@include style-guide-button(
		$wmui-color-base90,
		$wmui-color-base90,
		$color-primary,
		$border-color-base,
	);

	align-items: center;
	display: inline-flex;
	height: rem(34);
	justify-content: center;
	margin-right: rem(17);
	order: 10;
	padding: 0;
	width: rem(40);

	@media screen and (min-width: #{$primary-nav-breakpoint}) {
		display: none;
	}

	&:hover,
	&:active,
	&:focus {
		@include focus-ring($hex: false, $inset: false, $width: 4px, $transparency: 0.3);
		border-color: $border-color-base;
	}

	&__icon {
		display: none;
		height: rem(20);
		margin: 0;
		width: rem(20);

		[aria-expanded="true"] &--opened,
		[aria-expanded="false"] &--closed {
			display: block;
		}
	}

	&[hidden] {
		display: none;
	}
}

.primary-nav__overflow-toggle {
	border: none;
	background: none;
	color: $wmui-color-base30;
	cursor: pointer;
	display: inline-block;
	font-family: $font-family-sans;
	font-size: rem(14);
	font-weight: 400;
	line-height: inherit;
	margin: rem(12) rem(24) rem(12) 0;
	padding: rem(8) rem(10) rem(6);

	&[aria-expanded="false"] {
		.btn-label-opened {
			display: none;
		}
		.btn-label-closed {
			display: block;
		}
	}

	&[aria-expanded="true"] {
		.btn-label-opened {
			display: block;
		}
		.btn-label-closed {
			display: none;
		}
	}

	&[hidden] {
		display: none;
	}
}
