.site-footer {
	background-color: $wmui-color-base20;
	color: #fff;
	padding: rem(20);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	li {
		list-style: none;
		margin: 0;
	}

	&__inner {
		width: $content-column;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		margin-top: rem(20);
		margin-bottom: rem(20);

		@media (min-width: #{$width-breakpoint-desktop}) {
			margin-top: rem(44);
			margin-bottom: rem(54);
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	&__description {

		@include has-font-size("small");
		order: 10;

		@media (min-width: #{$width-breakpoint-desktop}) {
			flex: 0 1 rem(553);
		}

		p {
			line-height: inherit;
			font-size: inherit;
		}
	}

	&__logo {
		margin-bottom: rem(40);
		max-width: rem(145);

		@media (min-width: #{$width-breakpoint-desktop}) {
			margin-bottom: rem(15);
		}
	}

	&__callout-nav {
		order: 20;
		margin-top: rem(30);

		@media (min-width: #{$width-breakpoint-desktop}) {
			margin-top: 0;
			flex: 1 1 auto;
			display: flex;
			justify-content: flex-end;
		}

		&__items {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;

			@media (min-width: #{$width-breakpoint-desktop}) {
				justify-content: flex-end;
			}
		}

		li {
			margin-left: rem(16);

			&:first-child {
				margin-left: 0;
			}
		}

		a {

			@include style-guide-button(
				$color-tertiary,
				$color-tertiary--hover,
				$color-tertiary--active,
				$color-tertiary--focus,
				$color-primary,
				$border-color-base,
			);

			&:hover,
			&:active,
			&:focus {
				border-color: $color-primary;
				outline: none;
			}
		}
	}

	&__navigation {

		@include has-font-size("small");
		order: 30;
		margin-top: rem(30);

		@media (min-width: #{$width-breakpoint-desktop}) {
			margin-top: rem(40);
			width: 100%;
			display: flex;
		}
	}

	&__navigation-section {
		border-top: 1px solid $wmui-color-base30;

		& + & {
			margin-top: rem(30);

			@media (min-width: #{$width-breakpoint-desktop}) {
				margin-top: 0;
			}
		}

		> h2 {
			font-size: inherit;
			text-transform: uppercase;
			margin-bottom: rem(12);
			margin-top: rem(5);
		}

		a:hover,
		a:focus {
			text-decoration: underline;
		}

		@media (min-width: #{$width-breakpoint-desktop}) {
			margin-right: rem(16);
			flex: 1 1 24%;

			&:last-child {
				margin-right: 0;
			}

			&--footer-projects {
				flex: 1 1 50%;
			}
		}
	}

	&__navmenu {
		.site-footer__navigation-section--footer-projects & {
			columns: 2;

			@media (min-width: #{$width-breakpoint-desktop}) {
				columns: 3;
			}
		}

		li {
			margin-bottom: rem(10);
			font-size: inherit;
		}
	}

	&__legal {

		@include has-font-size("small");
		order: 40;
		border-top: 1px solid $wmui-color-base30;
		margin-top: rem(30);
		padding-top: rem(8);
		padding-bottom: rem(8);

		@media (min-width: #{$width-breakpoint-desktop}) {
			margin-top: rem(40);
			width: 100%;
		}
	}
}
