@import "~sass-lib/editor-includes";

// Re-style the URLInput like a normal input when used in the sidebar
.edit-post-sidebar {
	.block-editor-url-input__input[type="text"] {
		border-radius: 2px;
		border: 1px solid rgb(117, 117, 117);

		&:focus {
			border-color: var(--wp-admin-theme-color);
			box-shadow: 0 0 0 0.5px var(--wp-admin-theme-color);
			outline: transparent solid 2px;
		}
	}
}

.editor-styles-wrapper {
	// This is to match the frontend
	strong {
		font-weight: 700;
	}

	.block-editor-block-list__block.wp-block-column:not(:first-child) {
		margin-left: rem(20);
	}

	.block-editor-block-list__block {
		// Allow for the block insertion point to show.
		margin-bottom: rem(40);

		// no-default-margin blocks should display margin when selected, so that the
		// inserter will be visible.
		&.no-default-margin:not(.is-selected) {
			margin-bottom: 0;
		}

		// Reset the margin for spacers below no-default-margin blocks
		&.no-default-margin + .wp-block-spacer {
			margin-top: 0;
		}
	}

	// Make spacer blocks accurate after the global bottom margin
	.wp-block-spacer {
		margin-top: rem(-40);
		margin-bottom: 0;
	}
}
